@page "{id?}"
@using AirWeb.WebApp.Pages.Shared
@using AirWeb.WebApp.Pages.Shared.DisplayTemplates
@model DetailsModel
@{
    ViewData["Title"] = $"Facility {Model.Facility!.Id}";
    var facility = Model.Facility!;
}

<div class="row justify-content-between align-items-baseline mb-2">
    <div class="col-md">
        <h1 class="mb-md-0">
            Facility:
            <partial name="Shared/FacilityPartials/_FacilityAirsName" model="Model.Facility" />
        </h1>
    </div>

    @if (Model.IsComplianceStaff)
    {
        <div class="col-md-auto mt-2 mt-md-0 ms-md-3 btn-group d-print-none">
            <div class="btn-group">
                <button class="btn btn-outline-primary dropdown-toggle icon-link" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <partial name="Shared/_AppIconsPartial" model="@AppIcon.Plus" />
                    Compliance Work
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" asp-page="/Compliance/Work/Add/ACC" asp-route-facilityId="@Model.Id">
                            New ACC
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="/Compliance/Work/Add/Inspection" asp-route-facilityId="@Model.Id">
                            New Inspection
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="/Compliance/Work/Add/Inspection" asp-route-facilityId="@Model.Id" asp-route-isRmp="true">
                            New RMP Inspection
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="/Compliance/Work/Add/Report" asp-route-facilityId="@Model.Id">
                            New Report
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="/Compliance/Work/Add/Notification" asp-route-facilityId="@Model.Id">
                            New Notification
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="/Compliance/Work/Add/PermitRevocation" asp-route-facilityId="@Model.Id">
                            New Permit Revocation
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="/Compliance/FCE/Add" asp-route-facilityId="@Model.Id">
                            New FCE
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="/Enforcement/Begin" asp-route-facilityId="@Model.Id">
                            Begin Enforcement Case
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    }
</div>

<section class="mt-3">
    <div class="row justify-content-between mb-3">
        <div class="col-lg">
            <h2 class="h3">Facility Status</h2>
            <dl class="row">
                <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => facility.Description)</dt>
                <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => facility.Description)</dd>
                @if (facility.RegulatoryData != null)
                {
                    var regulatoryData = facility.RegulatoryData;
                    <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => regulatoryData.OperatingStatus)</dt>
                    <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => regulatoryData.OperatingStatus)</dd>
                    <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => regulatoryData.Classification)</dt>
                    <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => regulatoryData.Classification)</dd>
                    <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => regulatoryData.CmsClassification)</dt>
                    <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => regulatoryData.CmsClassification)</dd>
                    <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => regulatoryData.StartupDate)</dt>
                    <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => regulatoryData.StartupDate, DisplayTemplate.DateTimeNullableShort)</dd>
                    <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => regulatoryData.PermitRevocationDate)</dt>
                    <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => regulatoryData.PermitRevocationDate, DisplayTemplate.DateTimeNullableShort)</dd>
                }
            </dl>

            <h2 class="h3">Location</h2>
            <dl class="row">
                <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => facility.County)</dt>
                <dd class="col-sm-8 col-lg-9">@facility.County</dd>
                <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => facility.FacilityAddress)</dt>
                <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => facility.FacilityAddress, DisplayTemplate.IaipAddress)</dd>
                @if (facility.FacilityAddress.HasValue)
                {
                    <div class="col-sm-12 mb-3">
                        <div class="p-1 ps-2 bg-body-tertiary rounded-1">
                            <small>
                                <partial name="Shared/_AppIconsPartial" model="@AppIcon.MapPin" />
                                Open address in:
                                <span class="d-inline-block">
                                                <a class="btn-subtle" href="@facility.FacilityAddress.Value.GoogleMapsUrl()" target="_blank">Google Maps</a>
                                                <span class="px-1 text-body-secondary">|</span>
                                                <a class="btn-subtle" href="@facility.FacilityAddress.Value.AppleMapsUrl()" target="_blank">Apple Maps</a>
                                                    </span>
                            </small>
                        </div>
                    </div>
                }
                <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => facility.GeoCoordinates)</dt>
                <dd class="col-sm-8 col-lg-9">
                    @if (facility.IsPortableSource)
                    {
                        <em class="text-body-secondary">Portable source</em>
                    }
                    else
                    {
                        @Html.DisplayFor(_ => facility.GeoCoordinates, DisplayTemplate.IaipGeoCoordinates)
                    }
                </dd>
                @if (facility is { IsPortableSource: false, GeoCoordinates: not null })
                {
                    <div class="col-sm-12 mb-3">
                        <div class="p-1 ps-2 bg-body-tertiary rounded-1">
                            <small>
                                <partial name="Shared/_AppIconsPartial" model="@AppIcon.GeoPin" />
                                Open coordinates in:
                                <span class="d-inline-block">
                                        <a class="btn-subtle" href="@facility.GeoCoordinates.Value.GoogleMapsUrl()" target="_blank">Google Maps</a>
                                        <span class="px-1 text-body-secondary">|</span>
                                        <a class="btn-subtle" href="@facility.GeoCoordinates.Value.AppleMapsUrl()" target="_blank">Apple Maps</a>
                                    </span>
                            </small>
                        </div>
                    </div>
                }
            </dl>
        </div>

        @if (facility is { IsPortableSource: false, GeoCoordinates: not null })
        {
            <div class="col-lg mt-2 mt-md-0 d-flex flex-column">
                <div class="flex-grow-1">
                    <div id="single-facility-map" class="border border-secondary"></div>
                </div>
                <div class="mt-2">
                    <small><em>Note: Map shows geographic coordinates which may not match company address.</em></small>
                </div>
            </div>
        }
    </div>

    <h2 class="h3">Regulatory Data</h2>
    @if (facility.RegulatoryData is null)
    {
        <p>
            <span class="text-body-secondary fw-lighter">Not Available.</span>
        </p>
    }
    else
    {
        var regulatoryData = facility.RegulatoryData;
        <dl class="row">
            <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => regulatoryData.Sic)</dt>
            <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => regulatoryData.Sic, DisplayTemplate.TextOrPlaceholder)</dd>
            <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => regulatoryData.Naics)</dt>
            <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => regulatoryData.Naics, DisplayTemplate.TextOrPlaceholder)</dd>
            <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => regulatoryData.RmpId)</dt>
            <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => regulatoryData.RmpId, DisplayTemplate.TextOrPlaceholder)</dd>
            <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => regulatoryData.Pollutants)</dt>
            <dd class="col-sm-8 col-lg-9">
                <partial name="Facility/_Partials/_Pollutants" model="regulatoryData.Pollutants" />
            </dd>
            <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => regulatoryData.AirPrograms)</dt>
            <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => regulatoryData.AirProgramsAsStrings, DisplayTemplate.StringConcatOrPlaceholder)</dd>
            <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => regulatoryData.ProgramClassifications)</dt>
            <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => regulatoryData.ProgramClassificationsAsStrings, DisplayTemplate.StringConcatOrPlaceholder)</dd>
            <dt class="col-sm-4 col-lg-3">Nonattainment status</dt>
            <dd class="col-sm-8 col-lg-9">
                <dl class="row mb-0">
                    <dt class="col-3">@Html.DisplayNameFor(_ => regulatoryData.OneHourOzoneNonattainment)</dt>
                    <dd class="col-9">@Html.DisplayFor(_ => regulatoryData.OneHourOzoneNonattainment)</dd>
                    <dt class="col-3">@Html.DisplayNameFor(_ => regulatoryData.EightHourOzoneNonattainment)</dt>
                    <dd class="col-9">@Html.DisplayFor(_ => regulatoryData.EightHourOzoneNonattainment)</dd>
                    <dt class="col-3">@Html.DisplayNameFor(_ => regulatoryData.PmFineNonattainment)</dt>
                    <dd class="col-9">@Html.DisplayFor(_ => regulatoryData.PmFineNonattainment)</dd>
                </dl>
            </dd>
        </dl>
    }
</section>

<section class="my-4">
    <div class="row justify-content-between align-items-baseline mb-2">
        <div class="col">
            <h2 class="mb-0">Recent Compliance Work</h2>
        </div>
        <div class="col-auto ms-md-3 d-print-none">
            <a asp-page="/Compliance/Work/Index" asp-route-FacilityId="@Model.Id"
               asp-page-handler="Search" asp-fragment="search-results"
               class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                Open in search
            </a>
        </div>
    </div>
    <partial name="Shared/CompliancePartials/_ComplianceWorkAccordion" model="Model.ComplianceWork"
             view-data="new ViewDataDictionary(ViewData)" view-data-HideFacility="true" />
</section>

<section class="my-4">
    <div class="row justify-content-between align-items-baseline mb-2">
        <div class="col">
            <h2 class="mb-0">Recent FCEs</h2>
        </div>
        <div class="col-auto ms-md-3 d-print-none">
            <a asp-page="/Compliance/FCE/Index" asp-route-FacilityId="@Model.Id"
               asp-page-handler="Search" asp-fragment="search-results"
               class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                Open in search
            </a>
        </div>
    </div>
    <partial name="Shared/CompliancePartials/_FceAccordion" model="Model.Fces"
             view-data="new ViewDataDictionary(ViewData)" view-data-HideFacility="true" />
</section>

<section class="my-4">
    <div class="row justify-content-between align-items-baseline mb-2">
        <div class="col">
            <h2 class="mb-0">Recent Enforcement Work</h2>
        </div>
        <div class="col-auto ms-md-3 d-print-none">
            <a asp-page="/Enforcement/Index" asp-route-FacilityId="@Model.Id"
               asp-page-handler="Search" asp-fragment="search-results"
               class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                Open in search
            </a>
        </div>
    </div>
    <partial name="Shared/CompliancePartials/_CaseFileAccordion" model="Model.CaseFiles"
             view-data="new ViewDataDictionary(ViewData)" view-data-HideFacility="true" />
</section>

<section class="my-4">
    <div class="row justify-content-between align-items-baseline mb-2">
        <div class="col">
            <h2 class="mb-0">Recent Source Tests</h2>
        </div>
        <div class="col-auto ms-md-3 d-print-none">
            <a asp-page="/Facility/SourceTests" asp-route-Id="@Model.Id"
               class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                View all
            </a>
        </div>
    </div>
    <partial name="Shared/CompliancePartials/_SourceTestsAccordion" model="Model.SourceTests"
             view-data="new ViewDataDictionary(ViewData)" view-data-HideFacility="true" />
</section>

@if (facility is { IsPortableSource: false, GeoCoordinates: not null })
{
    @section Scripts {
        <script asp-add-content-to-csp>
            const Facility = @Html.Raw(Model.FacilityJson)
        </script>
        <script src="~/lib/leaflet/dist/leaflet.min.js"></script>
        <script src="~/js/maps/mapInit.js"></script>
    }

    @section Styles {
        <link rel="stylesheet" href="~/lib/leaflet/dist/leaflet.min.css" />
    }
}

@section Footer {
    <div class="bg-body-tertiary border-bottom border-light-subtle text-body-secondary small py-2 d-print-none">
        <div class="container">
            <details>
                <summary class="rounded-1 p-1"><span class="ps-1">Show EPA data exchange info</span></summary>
                <dl class="mt-2 mb-0 ms-sm-2">
                    <dt>EPA Facility ID</dt>
                    <dd>@Model.EpaFacilityId</dd>
                    <dt>Most Recent EPA Data Exchange Submittal</dt>
                    <dd>@Html.DisplayFor(_ => Model.EpaDxDate, DisplayTemplate.LongDateTimeNullable,
                            additionalViewData: new { Placeholder = DefaultText.PlaceholderNone })</dd>
                    <dt>Trigger EPA data exchange for all facility data</dt>
                    <dd>
                        <form method="post" asp-page-handler="RefreshEpa">
                            <button class="btn btn-sm btn-outline-info mt-1" type="submit">
                                <partial name="Shared/_AppIconsPartial" model="@AppIcon.UpToCloud" />
                                Update EPA Data Exchange
                            </button>
                        </form>
                    </dd>
                </dl>
            </details>
        </div>
    </div>

    <partial name="Shared/_IaipReloadPartial" />
}
