@page "{id?}"
@using AirWeb.AppServices.Compliance.Fces.Search
@using AirWeb.AppServices.Compliance.WorkEntries.Search
@using AirWeb.AppServices.Enforcement.Search
@using AirWeb.WebApp.Platform.Constants
@using AirWeb.WebApp.Platform.Settings
@model DetailsModel
@{
    ViewData["Title"] = $"Facility {Model.Facility!.Id}";
}

<div class="row justify-content-between align-items-baseline mb-2">
    <div class="col-md">
        <h1 class="mb-md-0">
            Facility:
            <partial name="Shared/FacilityPartials/_FacilityAirsName" model="Model.Facility" />
        </h1>
    </div>

    @if (Model.IsComplianceStaff)
    {
        <div class="col-md-auto mt-2 mt-md-0 ms-md-3 btn-group d-print-none">
            <div class="btn-group">
                <button class="btn btn-sm btn-outline-primary dropdown-toggle icon-link" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <svg class="bi">
                        <use href="@Url.Content("~/images/app-icons.svg")#app-icon-plus-lg"></use>
                    </svg>
                    Compliance Work
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" asp-page="/Compliance/Work/Add/ACC" asp-route-facilityId="@Model.Id">
                            New ACC
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="/Compliance/FCE/Add" asp-route-facilityId="@Model.Id">
                            New FCE
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="/Compliance/Work/Add/Inspection" asp-route-facilityId="@Model.Id">
                            New Inspection
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="/Compliance/Work/Add/Inspection" asp-route-facilityId="@Model.Id" asp-route-isRmp="true">
                            New RMP Inspection
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="/Compliance/Work/Add/Report" asp-route-facilityId="@Model.Id">
                            New Report
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="/Compliance/Work/Add/Notification" asp-route-facilityId="@Model.Id">
                            New Notification
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="/Compliance/Work/Add/PermitRevocation" asp-route-facilityId="@Model.Id">
                            New Permit Revocation
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="/Enforcement/Begin" asp-route-facilityId="@Model.Id">
                            Begin Enforcement Case
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    }
</div>

<section class="mt-3">
    <details class="border rounded-1">
        <summary class="bg-body-secondary px-2 py-1">
            Facility Details
        </summary>
        <partial name="_Partials/_FacilityDetails" model="Model.Facility" />
    </details>
</section>

<section class="mt-4">
    @if (!Model.ComplianceWork.Any())
    {
        <h2>Recent Compliance Work</h2>
        <p>
            <em>None.</em>
        </p>
    }
    else
    {
        <div class="row justify-content-between align-items-baseline mb-2">
            <div class="col">
                <h2 class="mb-0">Recent Compliance Work</h2>
            </div>
            <div class="col-auto ms-md-3 d-print-none">
                <a asp-page="/Compliance/Work/Index" asp-route-PartialFacilityId="@Model.Id"
                   asp-page-handler="Search" asp-fragment="search-results"
                   class="link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                    View All
                </a>
            </div>
        </div>
        @* <details open="@(Model.ComplianceWork.Count < GlobalConstants.SummaryTableSize)" class="border rounded-1 border-bottom-0"> *@
        <details class="border rounded-1 border-bottom-0">
            <summary class="bg-body-secondary px-2 py-1 border-bottom">
                @if (Model.ComplianceWorkCount > GlobalConstants.SummaryTableSize)
                {
                    @GlobalConstants.SummaryTableSize.ToString()
                    @:most recent /
                }
                @Model.ComplianceWorkCount.ToString() total
            </summary>
            <partial name="Shared/CompliancePartials/_WorkEntrySearchTable"
                     model="(Model.ComplianceWork, (WorkEntrySearchDto?)null)" />
        </details>
    }
</section>

<section class="mt-4">
    @if (!Model.Fces.Any())
    {
        <h2>Recent FCEs</h2>
        <p>
            <em>None.</em>
        </p>
    }
    else
    {
        <div class="row justify-content-between align-items-baseline mb-2">
            <div class="col">
                <h2 class="mb-0">Recent FCEs</h2>
            </div>
            <div class="col-auto ms-md-3 d-print-none">
                <a asp-page="/Compliance/FCE/Index" asp-route-PartialFacilityId="@Model.Id"
                   asp-page-handler="Search" asp-fragment="search-results"
                   class="link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                    View All
                </a>
            </div>
        </div>
        @* <details open="@(Model.Fces.Count < GlobalConstants.SummaryTableSize)" class="border rounded-1 border-bottom-0"> *@
        <details class="border rounded-1 border-bottom-0">
            <summary class="bg-body-secondary px-2 py-1 border-bottom">
                @if (Model.FceCount > GlobalConstants.SummaryTableSize)
                {
                    @GlobalConstants.SummaryTableSize.ToString()
                    @:most recent /
                }
                @Model.FceCount.ToString() total
            </summary>
            <partial name="Shared/CompliancePartials/_FceSearchTable" model="(Model.Fces, (FceSearchDto?)null)" />
        </details>
    }
</section>

<section class="mt-4">
    @if (!Model.EnforcementWork.Any())
    {
        <h2>Recent Enforcement Work</h2>
        <p>
            <em>None.</em>
        </p>
    }
    else
    {
        <div class="row justify-content-between align-items-baseline mb-2">
            <div class="col">
                <h2 class="mb-0">Recent Enforcement Work</h2>
            </div>
            <div class="col-auto ms-md-3 d-print-none">
                <a asp-page="/Enforcement/Index" asp-route-PartialFacilityId="@Model.Id"
                   asp-page-handler="Search" asp-fragment="search-results"
                   class="link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                    View All
                </a>
            </div>
        </div>
        @* <details open="@(Model.ComplianceWork.Count < GlobalConstants.SummaryTableSize)" class="border rounded-1 border-bottom-0"> *@
        <details class="border rounded-1 border-bottom-0">
            <summary class="bg-body-secondary px-2 py-1 border-bottom">
                @if (Model.EnforcementCount > GlobalConstants.SummaryTableSize)
                {
                    @GlobalConstants.SummaryTableSize.ToString()
                    @:most recent /
                }
                @Model.EnforcementCount.ToString() total
            </summary>
            <partial name="Shared/CompliancePartials/_CaseFileSearchTable"
                     model="(Model.EnforcementWork, (CaseFileSearchDto?)null)" />
        </details>
    }
</section>

<section class="mt-4">
    @if (!Model.SourceTests.Any())
    {
        <h2>Recent Source Tests</h2>
        <p>
            <em>None.</em>
        </p>
    }
    else
    {
        <div class="row justify-content-between align-items-baseline mb-2">
            <div class="col">
                <h2 class="mb-0">Recent Source Tests</h2>
            </div>
            <div class="col-auto ms-md-3 d-print-none">
                <a asp-page="/Facility/SourceTests" asp-route-Id="@Model.Id"
                   class="link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                    View All
                </a>
            </div>
        </div>
        @* <details open="@(Model.SourceTests.Count < GlobalConstants.SummaryTableSize)" class="border rounded-1 border-bottom-0"> *@
        <details class="border rounded-1 border-bottom-0">
            <summary class="bg-body-secondary px-2 py-1 border-bottom">
                @if (Model.SourceTestCount > GlobalConstants.SummaryTableSize)
                {
                    @GlobalConstants.SummaryTableSize.ToString()
                    @:most recent /
                }
                @Model.SourceTestCount.ToString() total
            </summary>
            <partial name="Shared/CompliancePartials/_SourceTestsTable" model="(Model.SourceTests, true)" />
        </details>
    }
</section>

@section Footer {
    @if (!AppSettings.DevSettings.UseDevSettings || !AppSettings.DevSettings.UseInMemoryIaipData)
    {
        <div class="bg-info-subtle py-2 border-bottom d-print-none">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col">
                        <small>
                            * <em>Note:</em> This page displays data from the IAIP, which is refreshed every 24&nbsp;hours.
                            If it appears out of date, you can manually refresh the data.
                        </small>
                    </div>
                    <div class="col-auto my-0 ms-3">
                        <a asp-route-facilityId="@Model.Id" asp-route-refresh="true"
                           class="btn btn-sm btn-outline-info icon-link">
                            <svg class="bi">
                                <use href="/images/app-icons.svg#app-icon-arrow-clockwise"></use>
                            </svg>
                            Refresh IAIP Data
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
}
