@page "{id?}"
@using AirWeb.WebApp.Pages.Shared
@using AirWeb.WebApp.Pages.Shared.DisplayTemplates
@using AirWeb.WebApp.Platform.Settings
@model DetailsModel
@{
    ViewData["Title"] = $"Facility {Model.Facility!.Id}";
    var facility = Model.Facility!;
}

<div class="row justify-content-between align-items-baseline mb-2">
    <div class="col-md">
        <h1 class="mb-md-0">
            Facility:
            <partial name="Shared/FacilityPartials/_FacilityAirsName" model="Model.Facility" />
        </h1>
    </div>

    @if (Model.IsComplianceStaff)
    {
        <div class="col-md-auto mt-2 mt-md-0 ms-md-3 btn-group d-print-none">
            <div class="btn-group">
                <button class="btn btn-outline-primary dropdown-toggle icon-link" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <partial name="Shared/_AppIconsPartial" model="@AppIcon.Plus" />
                    Compliance Work
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" asp-page="/Compliance/Work/Add/ACC" asp-route-facilityId="@Model.Id">
                            New ACC
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="/Compliance/Work/Add/Inspection" asp-route-facilityId="@Model.Id">
                            New Inspection
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="/Compliance/Work/Add/Inspection" asp-route-facilityId="@Model.Id" asp-route-isRmp="true">
                            New RMP Inspection
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="/Compliance/Work/Add/Report" asp-route-facilityId="@Model.Id">
                            New Report
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="/Compliance/Work/Add/Notification" asp-route-facilityId="@Model.Id">
                            New Notification
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="/Compliance/Work/Add/PermitRevocation" asp-route-facilityId="@Model.Id">
                            New Permit Revocation
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="/Compliance/FCE/Add" asp-route-facilityId="@Model.Id">
                            New FCE
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="/Enforcement/Begin" asp-route-facilityId="@Model.Id">
                            Begin Enforcement Case
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    }
</div>

<section class="mt-3">
    <div id="facilityDetailsAccordion" class="accordion">
        <div class="accordion-item border-info">
            <h2 class="accordion-header no-anchor">
                <button class="accordion-button shadow-sm" type="button" data-bs-toggle="collapse" data-bs-target="#facilityDetailsBody" aria-expanded="false" aria-controls="facilityDetailsBody">
                    Facility Details
                </button>
            </h2>
            <div id="facilityDetailsBody" class="accordion-collapse" data-bs-parent="facilityDetailsAccordion">
                <div class="accordion-body">
                    <div class="container mt-2">
                        <div class="row justify-content-between">
                            <div class="col-md">
                                <h2 class="h3">Status</h2>
                                <dl class="row">
                                    <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => facility.Description)</dt>
                                    <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => facility.Description)</dd>
                                    @if (Model.Facility.RegulatoryData != null)
                                    {
                                        var regulatoryData = Model.Facility.RegulatoryData;
                                        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => regulatoryData.OperatingStatus)</dt>
                                        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => regulatoryData.OperatingStatus)</dd>
                                        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => regulatoryData.Classification)</dt>
                                        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => regulatoryData.Classification)</dd>
                                        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => regulatoryData.CmsClassification)</dt>
                                        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => regulatoryData.CmsClassification)</dd>
                                        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => regulatoryData.StartupDate)</dt>
                                        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => regulatoryData.StartupDate, DisplayTemplate.DateTimeNullableShort)</dd>
                                        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => regulatoryData.PermitRevocationDate)</dt>
                                        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => regulatoryData.PermitRevocationDate, DisplayTemplate.DateTimeNullableShort)</dd>
                                    }
                                </dl>

                                <h2 class="h3">Location</h2>
                                <dl class="row">
                                    <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => facility.FacilityAddress)</dt>
                                    <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => facility.FacilityAddress, DisplayTemplate.IaipAddress)</dd>
                                    <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => facility.County)</dt>
                                    <dd class="col-sm-8 col-lg-9">@Model.Facility.County</dd>
                                    <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => facility.GeoCoordinates)</dt>
                                    <dd class="col-sm-8 col-lg-9">
                                        @if (Model.Facility.IsPortableSource)
                                        {
                                            <em class="text-body-secondary">Portable source</em>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(_ => facility.GeoCoordinates, DisplayTemplate.IaipGeoCoordinates)
                                        }
                                    </dd>
                                </dl>
                            </div>

                            @if (!Model.Facility.IsPortableSource && Model.Facility.GeoCoordinates.HasValue)
                            {
                                <div class="col-md-6 mt-2 mb-3 my-md-0 d-flex flex-column">
                                    <div class="flex-grow-1">
                                        <div id="single-facility-map" class="border border-secondary"></div>
                                    </div>
                                    <div class="mt-2">
                                        <small>
                                            Open in:
                                            <a class="btn-subtle" href="@Model.Facility.GeoCoordinates.Value.GoogleMapsUrl" target="_blank">Google Maps</a>
                                            <span class="px-1 text-body-secondary">|</span>
                                            <a class="btn-subtle" href="@Model.Facility.GeoCoordinates.Value.AppleMapsUrl" target="_blank">Apple Maps</a>
                                        </small>
                                    </div>
                                </div>
                            }
                        </div>

                        <h2 class="h3">Regulatory Data</h2>
                        @if (Model.Facility.RegulatoryData is null)
                        {
                            <p>
                                <span class="text-body-secondary fw-lighter">Not Available.</span>
                            </p>
                        }
                        else
                        {
                            var regulatoryData = Model.Facility.RegulatoryData;
                            <dl class="row">
                                <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => regulatoryData.Sic)</dt>
                                <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => regulatoryData.Sic, DisplayTemplate.TextOrPlaceholder)</dd>
                                <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => regulatoryData.Naics)</dt>
                                <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => regulatoryData.Naics, DisplayTemplate.TextOrPlaceholder)</dd>
                                <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => regulatoryData.RmpId)</dt>
                                <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => regulatoryData.RmpId, DisplayTemplate.TextOrPlaceholder)</dd>
                                <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => regulatoryData.Pollutants)</dt>
                                <dd class="col-sm-8 col-lg-9">
                                    <partial name="Facility/_Partials/_Pollutants" model="regulatoryData.Pollutants" />
                                </dd>
                                <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => regulatoryData.AirPrograms)</dt>
                                <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => regulatoryData.AirProgramsAsStrings, DisplayTemplate.StringConcatOrPlaceholder)</dd>
                                <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => regulatoryData.ProgramClassifications)</dt>
                                <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => regulatoryData.ProgramClassificationsAsStrings, DisplayTemplate.StringConcatOrPlaceholder)</dd>
                                <dt class="col-sm-4 col-lg-3">Nonattainment status</dt>
                                <dd class="col-sm-8 col-lg-9">
                                    <dl class="row">
                                        <dt class="col-sm-4 col-md-3">@Html.DisplayNameFor(_ => regulatoryData.OneHourOzoneNonattainment)</dt>
                                        <dd class="col-sm-8 col-md-9">@Html.DisplayFor(_ => regulatoryData.OneHourOzoneNonattainment)</dd>
                                        <dt class="col-sm-4 col-md-3">@Html.DisplayNameFor(_ => regulatoryData.EightHourOzoneNonattainment)</dt>
                                        <dd class="col-sm-8 col-md-9">@Html.DisplayFor(_ => regulatoryData.EightHourOzoneNonattainment)</dd>
                                        <dt class="col-sm-4 col-md-3">@Html.DisplayNameFor(_ => regulatoryData.PmFineNonattainment)</dt>
                                        <dd class="col-sm-8 col-md-9">@Html.DisplayFor(_ => regulatoryData.PmFineNonattainment)</dd>
                                    </dl>
                                </dd>
                            </dl>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="my-4">
    <div class="row justify-content-between align-items-baseline mb-2">
        <div class="col">
            <h2 class="mb-0">Recent Compliance Work</h2>
        </div>
        <div class="col-auto ms-md-3 d-print-none">
            <a asp-page="/Compliance/Work/Index" asp-route-FacilityId="@Model.Id"
               asp-page-handler="Search" asp-fragment="search-results"
               class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                Open in search
            </a>
        </div>
    </div>
    <partial name="Shared/CompliancePartials/_ComplianceWorkAccordion" model="Model.ComplianceWork"
             view-data="new ViewDataDictionary(ViewData)" view-data-HideFacility="true" />
</section>

<section class="my-4">
    <div class="row justify-content-between align-items-baseline mb-2">
        <div class="col">
            <h2 class="mb-0">Recent FCEs</h2>
        </div>
        <div class="col-auto ms-md-3 d-print-none">
            <a asp-page="/Compliance/FCE/Index" asp-route-FacilityId="@Model.Id"
               asp-page-handler="Search" asp-fragment="search-results"
               class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                Open in search
            </a>
        </div>
    </div>
    <partial name="Shared/CompliancePartials/_FceAccordion" model="Model.Fces"
             view-data="new ViewDataDictionary(ViewData)" view-data-HideFacility="true" />
</section>

<section class="my-4">
    <div class="row justify-content-between align-items-baseline mb-2">
        <div class="col">
            <h2 class="mb-0">Recent Enforcement Work</h2>
        </div>
        <div class="col-auto ms-md-3 d-print-none">
            <a asp-page="/Enforcement/Index" asp-route-FacilityId="@Model.Id"
               asp-page-handler="Search" asp-fragment="search-results"
               class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                Open in search
            </a>
        </div>
    </div>
    <partial name="Shared/CompliancePartials/_CaseFileAccordion" model="Model.CaseFiles"
             view-data="new ViewDataDictionary(ViewData)" view-data-HideFacility="true" />
</section>

<section class="my-4">
    <div class="row justify-content-between align-items-baseline mb-2">
        <div class="col">
            <h2 class="mb-0">Recent Source Tests</h2>
        </div>
        <div class="col-auto ms-md-3 d-print-none">
            <a asp-page="/Facility/SourceTests" asp-route-Id="@Model.Id"
               class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                View all
            </a>
        </div>
    </div>
    <partial name="Shared/CompliancePartials/_SourceTestsAccordion" model="Model.SourceTests"
             view-data="new ViewDataDictionary(ViewData)" view-data-HideFacility="true" />
</section>

@if (!Model.Facility.IsPortableSource && Model.Facility.GeoCoordinates.HasValue)
{
    @section Scripts {
        <script asp-add-content-to-csp>
            const Facility = @Html.Raw(Model.FacilityJson)
        </script>
        <script src="~/lib/leaflet/dist/leaflet.min.js"></script>
        <script src="~/js/maps/mapInit.js"></script>
    }

    @section Styles {
        <link rel="stylesheet" href="~/lib/leaflet/dist/leaflet.min.css" />
    }
}

@section Footer {
    <partial name="Shared/_IaipReloadPartial" />
}
