@page "{facilityId?}"
@using AirWeb.AppServices.Compliance.Search
@using AirWeb.WebApp.Platform.Constants
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DetailsModel
@{
    ViewData["Title"] = $"Facility {Model.Facility!.Id}";
}

<div class="row justify-content-between align-items-start">
    <div class="col-md mb-md-0">
        <h1>
            <partial name="Shared/FacilityPartials/_FacilityAirsName" model="Model.Facility" />
        </h1>
    </div>

    @if (Model.IsComplianceStaff)
    {
        <div class="col-md-auto mb-3 my-md-0 ms-md-3 d-print-none">
            <div class="dropdown my-2">
                <button class="btn btn-sm btn-outline-primary dropdown-toggle icon-link" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <svg class="bi">
                        <use href="@Url.Content("~/images/app-icons.svg")#app-icon-plus-lg"></use>
                    </svg>
                    Compliance Work
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" asp-page="/Compliance/Work/Acc/Add"
                           asp-route-facilityId="@Model.FacilityId">
                            New ACC
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="/Compliance/FCE/Add"
                           asp-route-facilityId="@Model.FacilityId">
                            New FCE
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="/Compliance/Work/Inspection/Add"
                           asp-route-facilityId="@Model.FacilityId">
                            New Inspection
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="/Compliance/Work/Inspection/Add"
                           asp-route-facilityId="@Model.FacilityId" asp-route-isRmp="true">
                            New RMP Inspection
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="/Compliance/Work/Report/Add"
                           asp-route-facilityId="@Model.FacilityId">
                            New Report
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="/Compliance/Work/Notification/Add"
                           asp-route-facilityId="@Model.FacilityId">
                            New Notification
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="/Compliance/Work/PermitRevocation/Add"
                           asp-route-facilityId="@Model.FacilityId">
                            New Permit Revocation
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    }
</div>

<section class="mt-md-3 mb-4">
    <details class="border rounded-1">
        <summary class="bg-body-secondary px-2 py-1">
            Facility Details
        </summary>
        <partial name="Shared/FacilityPartials/_FacilityDetails" model="Model.Facility" />
    </details>
</section>

<section class="mb-4">
    @if (!Model.ComplianceWork.Any())
    {
        <h2>Recent Compliance Work</h2>
        <p>
            <em>None.</em>
        </p>
    }
    else
    {
        <div class="row justify-content-between align-items-center">
            <div class="col mb-md-0">
                <h2>Recent Compliance Work</h2>
            </div>
            <div class="col-auto mb-3 my-md-0 ms-md-3 d-print-none">
                <a asp-page="/Compliance/Work/Index" asp-route-PartialFacilityId="@Model.FacilityId"
                   asp-page-handler="Search" asp-fragment="search-results"
                   class="link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                    View All
                </a>
            </div>
        </div>
        @* <details open="@(Model.ComplianceWork.Count < GlobalConstants.SummaryTableSize)" class="border rounded-1 border-bottom-0"> *@
        <details class="border rounded-1 border-bottom-0">
            <summary class="bg-body-secondary px-2 py-1 border-bottom">
                @if (Model.ComplianceWorkCount > GlobalConstants.SummaryTableSize)
                {
                    @GlobalConstants.SummaryTableSize.ToString()
                    @:most recent /
                }
                @Model.ComplianceWorkCount.ToString() total
            </summary>
            <partial name="Shared/CompliancePartials/_WorkEntrySearchTable"
                     model="(Model.ComplianceWork, (WorkEntrySearchDto?)null)" />
        </details>
    }
</section>

<section class="mb-4">
    @if (!Model.Fces.Any())
    {
        <h2>Recent FCEs</h2>
        <p>
            <em>None.</em>
        </p>
    }
    else
    {
        <div class="row justify-content-between align-items-center">
            <div class="col mb-md-0">
                <h2>Recent FCEs</h2>
            </div>
            <div class="col-auto mb-3 my-md-0 ms-md-3 d-print-none">
                <a asp-page="/Compliance/FCE/Index" asp-route-PartialFacilityId="@Model.FacilityId"
                   asp-page-handler="Search" asp-fragment="search-results"
                   class="link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                    View All
                </a>
            </div>
        </div>
        @* <details open="@(Model.Fces.Count < GlobalConstants.SummaryTableSize)" class="border rounded-1 border-bottom-0"> *@
        <details class="border rounded-1 border-bottom-0">
            <summary class="bg-body-secondary px-2 py-1 border-bottom">
                @if (Model.FceCount > GlobalConstants.SummaryTableSize)
                {
                    @GlobalConstants.SummaryTableSize.ToString()
                    @:most recent /
                }
                @Model.FceCount.ToString() total
            </summary>
            <partial name="Shared/CompliancePartials/_FceSearchTable" model="(Model.Fces, (FceSearchDto?)null)" />
        </details>
    }
</section>

<section class="mb-4">
    @if (!Model.SourceTests.Any())
    {
        <h2>Recent Source Tests</h2>
        <p>
            <em>None.</em>
        </p>
    }
    else
    {
        <div class="row justify-content-between align-items-center">
            <div class="col mb-md-0">
                <h2>Recent Source Tests</h2>
            </div>
            <div class="col-auto mb-3 my-md-0 ms-md-3 d-print-none">
                <a asp-page="/Facility/SourceTests" asp-route-FacilityId="@Model.FacilityId"
                   class="link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                    View All
                </a>
            </div>
        </div>
        @* <details open="@(Model.SourceTests.Count < GlobalConstants.SummaryTableSize)" class="border rounded-1 border-bottom-0"> *@
        <details class="border rounded-1 border-bottom-0">
            <summary class="bg-body-secondary px-2 py-1 border-bottom">
                @if (Model.SourceTestCount > GlobalConstants.SummaryTableSize)
                {
                    @GlobalConstants.SummaryTableSize.ToString()
                    @:most recent /
                }
                @Model.SourceTestCount.ToString() total
            </summary>
            <partial name="Shared/CompliancePartials/_SourceTestsTable" model="Model.SourceTests" />
        </details>
    }
</section>
