@page "{facilityId?}"
@using AirWeb.WebApp.Pages.Shared.DisplayTemplates
@using IaipDataService.SourceTests
@model DetailsModel
@{
    ViewData["Title"] = $"Facility {Model.Facility!.Id}";
}

<h1>
    <partial name="Compliance/_Partials/_FacilityAirsName" model="Model.Facility" />
</h1>

<ul>
    <li>
        <a asp-page="/Compliance/FCE/Add" asp-route-facilityId="@Model.FacilityId">Add new FCE</a>
    </li>
    <li>
        <a asp-page="/Compliance/Work/Acc/Add" asp-route-facilityId="@Model.FacilityId">Add new ACC</a>
    </li>
    <li>
        <a asp-page="/Compliance/Work/Inspection/Add" asp-route-facilityId="@Model.FacilityId">Add new Inspection</a>
    </li>
    <li>
        <a asp-page="/Compliance/Work/Notification/Add" asp-route-facilityId="@Model.FacilityId">
            Add new Notification
        </a>
    </li>
    <li>
        <a asp-page="/Compliance/Work/PermitRevocation/Add" asp-route-facilityId="@Model.FacilityId">
            Add new Permit Revocation
        </a>
    </li>
    <li>
        <a asp-page="/Compliance/Work/Report/Add" asp-route-facilityId="@Model.FacilityId">Add new Report</a>
    </li>
    <li>
        <a asp-page="/Compliance/Work/Inspection/Add" asp-route-facilityId="@Model.FacilityId" asp-route-isRmp="true">
            Add new RMP Inspection
        </a>
    </li>
</ul>

<h2>Source Tests</h2>

@if (!Model.SourceTests.Any())
{
    <p>
        <em>None.</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Reference Number</th>
            <th>Report Type</th>
            <th>Source Tested</th>
            <th>Pollutant</th>
            <th>Test Dates</th>
            <th>Open/Closed</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var test in Model.SourceTests)
        {
            <tr>
                <td>@test.ReferenceNumber.ToString()</td>
                <td>
                    @if (test.ReportType is ReportType.SourceTest or ReportType.NA)
                    {
                        @test.DocumentTypeName
                    }
                    else
                    {
                        @test.ReportTypeName
                    }
                </td>
                <td>@test.Source</td>
                <td>@test.Pollutant</td>
                <td>@Html.DisplayFor(_ => test.TestDates, new { Connector = "—" })</td>
                <td>@Html.DisplayFor(_ => test.ReportClosed, DisplayTemplate.BoolClosed)</td>
            </tr>
        }
        </tbody>
    </table>
}
