@page
@using AirWeb.WebApp.Pages.Shared
@using AirWeb.WebApp.Platform.Settings
@model IndexModel
@{
    ViewData["Title"] = "Facilities";
}

<h1>@ViewData["Title"]</h1>

<div class="px-3 py-2 rounded-3 bg-light-subtle border mt-3 mb-4 d-md-inline-block">
    <form method="post" role="search" class="my-1">
        <div class="row row-cols-sm-auto align-items-center">
            <div class="col-12 mb-2 mb-sm-0">
                <label for="FindId">Find by Facility ID</label>
            </div>
            <div class="col-12">
                <div class="input-group input-group-sm">
                    <input id="FindId" asp-for="FindId" class="form-control" type="search" placeholder="Enter ID" aria-label="Search" />
                    <button class="btn btn-primary" type="submit">Open</button>
                </div>
            </div>
        </div>
        <div class="mt-2 mt-sm-0"><span asp-validation-for="FindId" class="text-danger-emphasis"></span></div>
    </form>
</div>

@if (AppSettings.ConnectToIaip)
{
    <h2 class="h3">All Facilities</h2>
    <p class="lead">
        The following list includes all facilities in the IAIP that have been approved within the IAIP facility creator
        tool.
    </p>
}
else
{
    <p>Here is a short list of facilities for testing purposes.</p>
}

<form class="my-3">
    <label class="visually-hidden" for="facility-list-filter">Filter facility list</label>
    <div class="row row-cols-auto g-2 align-items-center">
        <div>
            <input id="facility-list-filter" class="form-control form-control-sm col-12 w-auto" placeholder="Filter facility list" aria-describedby="filtered-facility-list-count" />
        </div>
        <div>
        <span id="filtered-facility-list-count" class="form-text col-12 text-body-secondary">
            (@(Model.Facilities.Count > 0 ? Model.Facilities.Count.ToString() : "none") found)
        </span>
        </div>
    </div>
</form>

<ul id="facility-list">
    @foreach (var facility in Model.Facilities)
    {
        <li>
            <a asp-page="/Facility/Details" asp-route-id="@facility.FacilityId"
               class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-offset-1">
                @facility.FacilityId <span class="link-body-emphasis">–</span> @facility.Name
            </a>
        </li>
    }
</ul>
<ul id="filtered-facility-list"></ul>

@section Footer {
    <partial name="Shared/_IaipReloadPartial" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script asp-add-content-to-csp>
        document.addEventListener('DOMContentLoaded', () => {
            const filterInput = document.getElementById('facility-list-filter');
            const countOutput = document.getElementById('filtered-facility-list-count');
            const originalList = document.getElementById('facility-list');
            const originalListItems = originalList.getElementsByTagName('li');
            const filteredList = document.getElementById('filtered-facility-list');

            filterInput.addEventListener('input', () => {
                const filter = filterInput.value.toLowerCase();
                const fragment = document.createDocumentFragment();
                let count = 0;

                for (let i = 0; i < originalListItems.length; i++) {
                    const a = originalListItems[i].getElementsByTagName('a')[0];
                    const textValue = a.textContent || a.innerText;
                    if (textValue.toLowerCase().indexOf(filter) > -1) {
                        fragment.appendChild(originalListItems[i].cloneNode(true));
                        count++;
                    }
                }

                originalList.style.display = 'none';
                filteredList.innerHTML = '';
                filteredList.appendChild(fragment);
                countOutput.textContent = count > 0 ? ` (${count} found)` : ' (none found)';
            });
        });
    </script>
}
