@page
@using AirWeb.WebApp.Pages.Shared
@model MapModel
@{
    ViewData["Title"] = "Facility Map";
}

<div class="d-flex justify-content-between align-items-center">
    <h1>@ViewData["Title"]</h1>
    <div><a asp-page="Index" class="btn btn-outline-info d-flex align-items-center">
            <partial name="Shared/_AppIconsPartial" model="@AppIcon.List" />
            <span class="ms-1">View List</span>
        </a>
    </div>
</div>

<p class="lead">
    This tool displays facilities from the IAIP that have been approved within the IAIP facility creator tool and have
    latitude/longitude data. Portable sources (county code 777) are excluded. If location data is incorrect or missing,
    it can be corrected in the IAIP.
</p>

<div class="px-3 py-1 rounded-3 bg-light-subtle border mb-3 d-md-inline-block d-print-none">
    <div class="row row-cols-md-auto g-2 align-items-center my-1">
        <div class="my-0">
            Zoom to:
            <button id="state-selector" type="button" class="btn btn-outline-secondary ms-3">State</button>
        </div>
        <div class="row row-cols-auto g-2 align-items-center mt-2 my-md-0 ms-md-2">
            <div class="my-0"><label for="city-selector" class="col-form-label">City</label></div>
            <div class="my-0">
                <select id="city-selector" class="form-select border-secondary" aria-label="Zoom the map to a specific city">
                    @foreach (var nl in MapModel.CityLocations)
                    {
                        <option value="#@(nl.Location)">@nl.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="row row-cols-auto g-2 align-items-center mt-2 my-md-0 ms-md-2">
            <div class="my-0"><label for="county-selector" class="col-form-label">County</label></div>
            <div class="my-0">
                <select id="county-selector" class="form-select border-secondary" aria-label="Zoom the map to a specific county">
                    @foreach (var nl in MapModel.CountyLocations)
                    {
                        <option value="#@(nl.Location)">@nl.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>

<div id="facility-map" class="border border-secondary"></div>

@section Scripts {
    <script asp-add-content-to-csp>
        const facilities = @Html.Raw(Model.FacilitiesAsJson);
    </script>
    <script src="~/lib/leaflet/dist/leaflet.min.js"></script>
    <script src="~/lib/leaflet.markercluster/dist/leaflet.markercluster.min.js"></script>
    <script src="~/lib/leaflet.locatecontrol/dist/L.Control.Locate.min.js"></script>
    <script src="~/js/maps/leaflet.permalink.min.js"></script>
    <script src="~/js/maps/georgiaGeoJson.js"></script>
    <script src="~/js/maps/mapAllInit.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/lib/leaflet/dist/leaflet.min.css" />
    <link rel="stylesheet" href="~/lib/leaflet.markercluster/dist/MarkerCluster.min.css" />
    <link rel="stylesheet" href="~/lib/leaflet.markercluster/dist/MarkerCluster.Default.min.css" />
    <link rel="stylesheet" href="~/lib/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
}

@section Footer {
    <partial name="Shared/_IaipReloadPartial" />
}
