@using AirWeb.Domain.Compliance
@model DateOnly
@{
    var describedById = (string?)ViewData["DescribedById"];
}
<div class="form-floating">
    <input asp-for="@__model" class="form-control" min="@ComplianceConstants.EarliestComplianceDateHtmlString" aria-describedby="@describedById" />
    <label asp-for="@__model" class="form-label"></label>
    <span asp-validation-for="@__model" class="invalid-feedback"></span>
</div>
