@model int
@{
    var min = ViewData.ContainsKey("Min") ? (int)ViewData["Min"]! : (int?)null;
    var max = ViewData.ContainsKey("Max") ? (int)ViewData["Max"]! : (int?)null;
}
<div class="form-floating">
    <input asp-for="@__model" class="form-control" min="@min" max="@max" />
    <label asp-for="@__model" class="form-label"></label>
    <span asp-validation-for="@__model" class="invalid-feedback"></span>
</div>
