@model decimal
@{
    var min = ViewData.ContainsKey("Min") ? (int)ViewData["Min"]! : (int?)null;
    var max = ViewData.ContainsKey("Max") ? (int)ViewData["Max"]! : (int?)null;
    var addonId = $"addon-{Guid.NewGuid()}";
}
<label asp-for="@__model" class="form-label"></label>
<div class="input-group">
    <span class="input-group-text" id="@addonId">$</span>
    <input asp-for="@__model" type="number" class="form-control" aria-describedby="@addonId" min="@min" max="@max" step="0.01" />
</div>
<span asp-validation-for="@__model" class="invalid-feedback"></span>
