@page "{id:Guid?}"
@using AirWeb.WebApp.Pages.Shared.EditorTemplates
@model EditModel
@{
    ViewData["Title"] = "Edit User Profile";
    ViewData["NoAnchors"] = "True";
}

<h1>@ViewData["Title"]</h1>
<hr />

<h2>@Model.DisplayStaff.Name</h2>

<div class="p-3 border rounded-3 bg-light-subtle mb-3">
    <form method="post">
        <div class="row">
            <div class="col-lg mb-3">
                @Html.EditorFor(m => m.DisplayStaff.Email, EditorTemplate.InputDisabled)
            </div>
            <div class="col-md mb-3">
                @Html.EditorFor(m => m.Item.PhoneNumber, EditorTemplate.Input)
            </div>
            <div class="col-md mb-3">
                @Html.EditorFor(m => m.Item.OfficeId, EditorTemplate.Select, new { Items = Model.OfficesSelectList })
            </div>
        </div>
        <div class="mb-3">
            @Html.EditorFor(m => m.Item.Active, EditorTemplate.Checkbox)
        </div>
        <partial name="Shared/_SubmitCancelButtons" />
    </form>
</div>

@section Scripts {
    <partial name="Shared/_ValidationScriptsPartial" />
}
