@using AirWeb.WebApp.Pages.Shared.DisplayTemplates
@using AirWeb.WebApp.Platform.Settings
@model AirWeb.AppServices.Enforcement.EnforcementActionQuery.CoViewDto

<dl class="row mt-3 mb-0">
    <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(dto => dto.ReceivedFromFacility)</dt>
    <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(dto => dto.ReceivedFromFacility, DisplayTemplate.ShortDateOnlyNullable, new { PlaceholderNotEntered = "No" })</dd>
    <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(dto => dto.ExecutedDate)</dt>
    <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(dto => dto.ExecutedDate, DisplayTemplate.ShortDateOnlyNullable, new { PlaceholderNotEntered = "No" })</dd>
    <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(dto => dto.ReceivedFromDirectorsOffice)</dt>
    <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(dto => dto.ReceivedFromDirectorsOffice, DisplayTemplate.ShortDateOnlyNullable, new { PlaceholderNotEntered = "No" })</dd>
    <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(dto => dto.ResolvedDate)</dt>
    <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(dto => dto.ResolvedDate, DisplayTemplate.ShortDateOnlyNullable, new { PlaceholderNotEntered = "No" })</dd>
    <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(dto => dto.OrderNumber)</dt>
    <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(dto => dto.OrderNumber, DisplayTemplate.TextOrPlaceholder)</dd>
    <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(dto => dto.PenaltyAmount)</dt>
    <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(dto => dto.PenaltyAmount, DisplayTemplate.Currency)</dd>
    <dt class="col-sm-4 col-lg-3 mb-2">@Html.DisplayNameFor(dto => dto.PenaltyComment)</dt>
    <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(dto => dto.PenaltyComment, DisplayTemplate.TextWithLinebreaks)</dd>
    <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(dto => dto.StipulatedPenaltiesDefined)</dt>
    <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(dto => dto.StipulatedPenaltiesDefined, DisplayTemplate.BoolYesNo)</dd>
</dl>
@if (Model.StipulatedPenalties.Any())
{
    <h5 class="h6 mt-2">@Html.DisplayNameFor(dto => dto.StipulatedPenalties)</h5>
    @if (!Model.StipulatedPenalties.Any())
    {
        <div class="text-body-secondary fw-lighter">@DefaultText.PlaceholderNone</div>
    }
    else
    {
        @if (Model.IsExecuted && Model.ExecutedDate < GlobalConstants.ComplianceDataMigrationDate)
        {
            <p>
                Note: Dates listed for stipulated penalties received before
                @Html.DisplayFor(_ => GlobalConstants.ComplianceDataMigrationDate, DisplayTemplate.ShortDateOnly)
                are approximate.
            </p>
        }

        <ul>
            @foreach (var penalty in Model.StipulatedPenalties.OrderBy(dto => dto.ReceivedDate))
            {
                <li class="mb-3">
                    @Html.DisplayFor(_ => penalty.Amount, DisplayTemplate.Currency)
                    received @Html.DisplayFor(_ => penalty.ReceivedDate, DisplayTemplate.ShortDateOnlyNullable)
                    @if (!string.IsNullOrWhiteSpace(penalty.Notes))
                    {
                        <div class="mt-2">@Html.DisplayFor(dto => penalty.Notes, DisplayTemplate.TextWithLinebreaks)</div>
                    }
                </li>
            }
        </ul>
    }
}
