@page "{facilityId?}/{eventId:int?}"
@using AirWeb.WebApp.Pages.Shared.DisplayTemplates
@using AirWeb.WebApp.Pages.Shared.EditorTemplates
@model BeginModel
@{
    ViewData["Title"] = $" for {Model.Facility!.FacilityId}";
    ViewData["NoAnchors"] = "True";
}

<h1>Begin Enforcement Case</h1>
<p class="lead">
    For Facility:
    <partial name="Shared/FacilityPartials/_FacilityAirsName" model="Model.Facility" />
</p>

@if (Model.ComplianceEvent != null)
{
    <dl class="border p-3 pb-2 rounded-3">
        <dt>Compliance Discovery Event</dt>
        <dd>@Model.ComplianceEvent.ItemName #@Model.EventId</dd>
        <dt>@Model.ComplianceEvent.EventDateName</dt>
        <dd>@Html.DisplayFor(_ => Model.ComplianceEvent.EventDate, DisplayTemplate.ShortDateOnly)</dd>
    </dl>
}

<div class="p-3 border border-primary-subtle rounded-3 bg-light-subtle mb-3">
    <form method="post">
        <div asp-validation-summary="All" class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi me-2" role="img" aria-label="Danger:">
                <use href="@Url.Content("~/images/app-icons.svg")#app-icon-exclamation-triangle-fill"></use>
            </svg>
        </div>
        <div class="row">
            <div class="col-md mb-3">
                @Html.EditorFor(m => m.NewCaseFile.ResponsibleStaffId, EditorTemplate.SelectNoPlaceholder,
                    additionalViewData: new { Items = Model.StaffSelectList })
            </div>
            <div class="col-md mb-3">
                @Html.EditorFor(m => m.NewCaseFile.DiscoveryDate, EditorTemplate.InputDateOnly)
            </div>
        </div>

        @Html.EditorFor(m => m.NewCaseFile.Notes, EditorTemplate.Textarea, new { Rows = 5 })

        <partial name="Shared/_SubmitCancelButtons" />
        <input asp-for="NewCaseFile.FacilityId" type="hidden" />
        <input asp-for="NewCaseFile.EventId" type="hidden" />
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
