@page "{id:int?}"
@using AirWeb.AppServices.Compliance
@using AirWeb.WebApp.Pages.Shared.DisplayTemplates
@model DetailsModel
@{
    var report = Model.Item;
    ViewData["Title"] = $"Facility {report.Facility.Id} - FCE Report: {report.Year.ToString()}";
}

@if (report.IsDeleted)
{
    <div class="callout callout-danger mb-3">
        <div class="container-full">
            <div class="row justify-content-between align-items-center g-0 my-1">
                <div class="col">
                    <h4 class="text-danger-emphasis">This FCE has been deleted.</h4>
                </div>
                @if (Model.UserCan[ComplianceWorkOperation.Restore])
                {
                    <div class="col-auto d-print-none ms-2">
                        <a asp-page="Restore" asp-route-id="@Model.Id" class="btn btn-outline-warning">
                            Restore deleted FCE
                        </a>
                    </div>
                }
            </div>
        </div>
        <p>
            Deleted by @Html.DisplayFor(_ => report.DeletedBy, DisplayTemplate.NameOrPlaceholder)
            on @Html.DisplayFor(_ => report.DeletedAt, DisplayTemplate.LongDateTimeOffsetOrNotEntered)
        </p>
        <h5>Comments</h5>
        <p class="text-break text-pre-line">@Html.DisplayFor(_ => report.DeleteComments, DisplayTemplate.TextOrPlaceholder)</p>
    </div>
}

<div class="row justify-content-between align-items-center">
    <div class="col-md mb-md-0">
        <h1>Full Compliance Evaluation</h1>
    </div>
    @if (!report.IsDeleted)
    {
        <div class="col-md-auto my-3 my-md-0 ms-md-3 btn-group d-print-none">
            @if (Model.UserCan[ComplianceWorkOperation.Edit])
            {
                <a asp-page="Edit" asp-route-id="@Model.Id.ToString()" class="btn btn-outline-primary">Edit</a>
            }
            @if (Model.UserCan[ComplianceWorkOperation.Delete])
            {
                <a asp-page="Delete" asp-route-id="@Model.Id.ToString()" class="btn btn-outline-danger">Delete</a>
            }
        </div>
    }
</div>
<p class="lead">Tracking #@Model.Id.ToString()</p>

<dl class="row mt-3 mb-0">
    <dt class="col-sm-4 col-lg-3">Facility</dt>
    <dd class="col-sm-8 col-lg-9">
        <partial name="Shared/CompliancePartials/_FacilityAirsNameLink" model="Model.Item.Facility" />
    </dd>
    @* TODO: Additional facility information *@

    <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(m => m.Item.Year)</dt>
    <dd class="col-sm-8 col-lg-9">
        <strong class="text-info-emphasis">@report.Year.ToString()</strong>
    </dd>
    <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(m => m.Item.ReviewedBy)</dt>
    <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(m => m.Item.ReviewedBy, DisplayTemplate.NameOrPlaceholder)</dd>
    <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(m => m.Item.CompletedDate)</dt>
    <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(m => m.Item.CompletedDate, DisplayTemplate.ShortDateOnlyOrNotEntered)</dd>
    <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(m => m.Item.OnsiteInspection)</dt>
    <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(m => m.Item.OnsiteInspection, DisplayTemplate.BoolYesNo)</dd>
    <dt class="mb-2">@Html.DisplayNameFor(_ => report.Notes)</dt>
    <dd>
        <div
            class="text-break text-pre-line border rounded p-3">
            @Html.DisplayFor(_ => report.Notes, DisplayTemplate.TextOrPlaceholder)
        </div>
    </dd>
</dl>

<h2 class="h4 mt-4">Comments</h2>
<partial name="Shared/_CommentsSectionPartial"
         model="(report.Comments, Model.NewCommentId, Model.CommentNotificationFailureMessage, Model.UserCan[ComplianceWorkOperation.Edit])" />
