@page "{id:int?}"
@using AirWeb.AppServices.Compliance.Compliance.Permissions
@using AirWeb.AppServices.Core.Utilities
@using AirWeb.WebApp.Pages.Shared.DisplayTemplates
@using AirWeb.WebApp.Platform.Settings
@model DetailsModel
@{
    var report = Model.Item!;
    ViewData["Title"] = $"{report.Year.ToString()} FCE Report for Facility {report.FacilityId}";
}

@if (report.IsDeleted)
{
    <div class="callout callout-danger mb-3">
        <div class="container-full">
            <div class="row justify-content-between align-items-center g-0 my-1">
                <div class="col">
                    <h4 class="text-danger-emphasis">This FCE has been deleted.</h4>
                </div>
                @if (Model.UserCan[ComplianceOperation.Restore])
                {
                    <div class="col-auto d-print-none ms-2">
                        <a asp-page="Restore" asp-route-id="@Model.Id" class="btn btn-outline-warning">
                            Restore deleted FCE
                        </a>
                    </div>
                }
            </div>
        </div>
        <p>
            Deleted by @Html.DisplayFor(_ => report.DeletedBy, DisplayTemplate.NameOrPlaceholder)
            on @Html.DisplayFor(_ => report.DeletedAt, DisplayTemplate.LongDateTimeOffsetNullable)
        </p>
        <h5>Comments</h5>
        @Html.DisplayFor(_ => report.DeleteComments, DisplayTemplate.TextWithLinebreaks)
    </div>
}

<div class="row justify-content-between align-items-center mb-2">
    <div class="col-md">
        <h1 class="mb-md-0">Full Compliance Evaluation</h1>
    </div>
    @if (!report.IsDeleted)
    {
        <div class="col-md-auto ms-md-3 d-print-none">
            <div class="btn-group">
                @if (Model.UserCan[ComplianceOperation.Edit])
                {
                    <a asp-page="Edit" asp-route-id="@Model.Id.ToString()" class="btn btn-outline-primary">Edit</a>
                }
                <a asp-page="/Print/FCE/Index" asp-route-id="@Model.Id" target="_blank" rel="noopener"
                   class="btn btn-outline-secondary icon-link justify-content-center no-external-link">
                    <svg class="bi">
                        <use href="@Url.Content("~/images/app-icons.svg")#app-icon-printer-fill"></use>
                    </svg>
                    Print
                </a>
            </div>
        </div>
    }
</div>
<p class="lead">FCE Tracking #@Model.Id.ToString()</p>

<section class="mt-2">
    <dl class="row mt-3 mb-0">
        <dt class="col-sm-4 col-lg-3">Facility</dt>
        <dd class="col-sm-8 col-lg-9">
            <partial name="Shared/FacilityPartials/_FacilityAirsNameLink"
                     model="(report.FacilityId, report.FacilityName)" />
        </dd>
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => report.Year)</dt>
        <dd class="col-sm-8 col-lg-9">
            <strong class="text-info-emphasis">@report.Year.ToString()</strong>
        </dd>
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => report.ReviewedBy)</dt>
        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => report.ReviewedBy, DisplayTemplate.NameOrPlaceholder)</dd>
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => report.CompletedDate)</dt>
        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => report.CompletedDate, DisplayTemplate.ShortDateOnlyNullable)</dd>
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => report.OnsiteInspection)</dt>
        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => report.OnsiteInspection, DisplayTemplate.BoolYesNo)</dd>
        <dt class="mb-2">@Html.DisplayNameFor(_ => report.Notes)</dt>
        <dd>
            <div class="border rounded-1 p-3">@Html.DisplayFor(_ => report.Notes, DisplayTemplate.TextWithLinebreaks)</div>
        </dd>
    </dl>
</section>

<section class="my-4">
    <h2 class="h5 mb-0">Supporting compliance data (one year):</h2>
    <div class="row justify-content-between align-items-baseline mb-2">
        <div class="col">
            <h3 class="h5 mb-md-0 text-info-emphasis">
                @Html.DisplayFor(_ => report.SupportingDataDateRange, additionalViewData: new { Connector = " through ", Format = DateTimeFormats.ShortDate })
            </h3>
        </div>
        <div class="col-auto ms-3 d-print-none">
            <a asp-page="/Compliance/Work/Index" asp-route-FacilityId="@Model.Item!.FacilityId"
               asp-route-EventDateFrom="@Model.Item!.SupportingDataStartDate.ToShortDateString()"
               asp-route-EventDateTo="@Model.Item!.CompletedDate.ToString()"
               asp-page-handler="Search" asp-fragment="search-results" target="_blank"
               class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                Open in search
            </a>
        </div>
    </div>
    <partial name="Shared/CompliancePartials/_ComplianceWorkAccordion" model="Model.ComplianceSummary"
             view-data="new ViewDataDictionary(ViewData)" view-data-HideFacility="true" />
</section>

<section class="my-4">
    <h2 class="h5 mb-0">Enforcement cases (five years):</h2>
    <div class="row justify-content-between align-items-baseline mb-2">
        <div class="col">
            <h3 class="h5 mb-md-0 text-info-emphasis">
                @Html.DisplayFor(_ => report.ExtendedDataDateRange, additionalViewData: new { Connector = " through ", Format = DateTimeFormats.ShortDate })
            </h3>
        </div>
        <div class="col-auto ms-3 d-print-none">
            <a asp-page="/Enforcement/Index" asp-route-FacilityId="@Model.Item!.FacilityId"
               asp-route-EnforcementDateFrom="@Model.Item!.ExtendedDataStartDate.ToShortDateString()"
               asp-route-EnforcementDateTo="@Model.Item!.CompletedDate.ToString()"
               asp-page-handler="Search" asp-fragment="search-results" target="_blank"
               class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                Open in search
            </a>
        </div>
    </div>
    <partial name="Shared/CompliancePartials/_CaseFileAccordion" model="Model.CaseFileSummary"
             view-data="new ViewDataDictionary(ViewData)" view-data-HideFacility="true" />
</section>

<section class="my-4">
    <div class="mb-2">
        <h2 class="h5 mb-md-0">
            Annual permit fees (five years):
            <div class="text-info-emphasis">
                @Html.DisplayFor(_ => report.ExtendedDataDateRange, additionalViewData: new { Connector = " through ", Format = DateTimeFormats.ShortDate })
            </div>
        </h2>
    </div>

    @if (Model.AnnualFeesSummary.Count == 0)
    {
        <div class="border rounded-2 p-3">
            <p class="lead mb-0">No annual fees data found in date range.</p>
        </div>
    }
    else
    {
        <div id="supportingAnnualFeesDataAccordion" class="accordion">
            <div class="accordion-item">
                <h3 class="accordion-header no-anchor">
                    <button class="accordion-button shadow-sm collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false"
                            data-bs-target="#supportingAnnualFeesDataBody" aria-controls="supportingAnnualFeesDataBody">
                        View supporting data
                    </button>
                </h3>
                <div id="supportingAnnualFeesDataBody" class="accordion-collapse collapse"
                     data-bs-parent="supportingAnnualFeesDataAccordion">
                    <div class="accordion-body">
                        <partial name="Shared/CompliancePartials/_AnnualFeesTable" model="Model.AnnualFeesSummary" />
                    </div>
                </div>
            </div>
        </div>
    }
</section>

<partial name="Shared/_CommentsSectionPartial" model="Model.CommentSection" />

@if (Model.UserCan[ComplianceOperation.Delete])
{
    <div class="mt-4 text-end d-print-none">
        <a asp-page="Delete" asp-route-id="@Model.Id.ToString()"
           class="btn btn-sm btn-link px-0 link-danger link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover">
            Delete FCE
        </a>
    </div>
}

@section Footer {
    @if (AppSettings.ConnectToIaip)
    {
        <div class="bg-info-subtle py-2 border-bottom d-print-none">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col">
                        <small>
                            * <em>Note:</em> This page displays annual fees data from the IAIP, which is refreshed
                            every 24&nbsp;hours. If it appears out of date, you can manually refresh the data.
                        </small>
                    </div>
                    <div class="col-auto my-0 ms-3">
                        <a asp-route-id="@Model.Id" asp-route-refresh="true"
                           class="btn btn-sm btn-outline-info icon-link">
                            <svg class="bi">
                                <use href="/images/app-icons.svg#app-icon-arrow-clockwise"></use>
                            </svg>
                            Refresh IAIP Data
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }

    <partial name="Shared/_DataExchangePartial" model="report" />
    <partial name="Shared/_AuditPointsPartial" model="report.AuditPoints" />
}

@section Scripts {
    <partial name="Shared/_ValidationScriptsPartial" />
}
