@page "{id:int?}"
@using AirWeb.WebApp.Pages.Shared.EditorTemplates
@model EditModel
@{
    ViewData["Title"] = $"Edit FCE #{Model.Id.ToString()}";
    ViewData["NoAnchors"] = "True";
}

<h1>@ViewData["Title"]</h1>

<div class="p-3 border border-primary-subtle rounded-3 bg-light-subtle mb-3">
    <form method="post">
        <dl class="row">
            <dt class="col-sm-4 col-lg-3">Facility</dt>
            <dd class="col-sm-8 col-lg-9">
                <span class="text-body-secondary">@Model.ItemView.FacilityId –</span> @Model.ItemView.FacilityName
            </dd>
            <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(m => m.ItemView.Year)</dt>
            <dd class="col-sm-8 col-lg-9">
                <strong class="text-info-emphasis">@Model.ItemView.Year.ToString()</strong>
            </dd>
        </dl>

        <h2 class="h4">Update Details</h2>
        <div class="mb-3">
            @Html.EditorFor(m => m.Item.ReviewedById, EditorTemplate.SelectNoPlaceholder,
                additionalViewData: new { Items = Model.StaffSelectList })
        </div>
        <div class="mb-3">
            @Html.EditorFor(m => m.Item.OnsiteInspection, EditorTemplate.Checkbox)
        </div>
        @Html.EditorFor(m => m.Item.Notes, EditorTemplate.Textarea, additionalViewData: new { Rows = 5 })

        <partial name="Shared/_SubmitCancelButtons" />
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
