@page "{id:Guid?}"
@using AirWeb.WebApp.Pages.Shared.EditorTemplates
@model EditModel
@{
    ViewData["Title"] = $"Edit {Model.ThisOption.SingularName}";
    ViewData["NoAnchors"] = "True";
}

<h1>Edit @Model.ThisOption.SingularName</h1>
<hr />

<div class="alert alert-warning d-flex align-items-center" role="alert">
    <svg class="bi me-3" role="img" aria-label="Warning:">
        <use href="@Url.Content("~/images/app-icons.svg")#app-icon-exclamation-triangle-fill"></use>
    </svg>
    <div>
        Warning: Changing the name of @(Model.ThisOption.StartsWithVowelSound ? "an" : "a")
        @Model.ThisOption.SingularName will affect all of its existing uses. Before proceeding, consider
        whether it would be better to deactivate this one and create a new one.
    </div>
</div>

<h2>@Model.OriginalName</h2>

<div class="p-3 border rounded-3 bg-light-subtle">
    <form method="post">
        <div asp-validation-summary="All" class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi me-2" role="img" aria-label="Danger:">
                <use href="@Url.Content("~/images/app-icons.svg")#app-icon-exclamation-triangle-fill"></use>
            </svg>
        </div>
        <div class="col-md-8 mb-3">
            <div class="form-floating">
                @Html.EditorFor(m => m.Item.Name, EditorTemplate.Input)
            </div>
        </div>
        <div class="mb-3">
            @Html.EditorFor(m => m.Item.Active, EditorTemplate.Checkbox)
        </div>
        <partial name="Shared/_SubmitCancelButtons" />
        <input asp-for="OriginalName" type="hidden" />
    </form>
</div>

@section Scripts {
    <partial name="Shared/_ValidationScriptsPartial" />
}
