@page "{id:int?}"
@using AirWeb.AppServices.Compliance.Permissions
@using AirWeb.AppServices.Compliance.WorkEntries.Accs
@using AirWeb.AppServices.Compliance.WorkEntries.Inspections
@using AirWeb.AppServices.Compliance.WorkEntries.Notifications
@using AirWeb.AppServices.Compliance.WorkEntries.PermitRevocations
@using AirWeb.AppServices.Compliance.WorkEntries.Reports
@using AirWeb.AppServices.Compliance.WorkEntries.SourceTestReviews
@using AirWeb.WebApp.Pages.Shared.DisplayTemplates
@model DetailsModel
@{
    var report = Model.Item!;
    var workEntryType = report.WorkEntryType;
    var workEntryName = workEntryType.GetDescription();
    ViewData["Title"] = $"{workEntryName} #{Model.Id} (Facility {report.FacilityId})";
}

@if (report.IsDeleted)
{
    <div class="callout callout-danger mb-3">
        <div class="container-full">
            <div class="row justify-content-between align-items-center g-0 my-1">
                <div class="col">
                    <h4 class="text-danger-emphasis">This @report.ItemName has been deleted.</h4>
                </div>
                @if (Model.UserCan[ComplianceOperation.Restore])
                {
                    <div class="col-auto d-print-none ms-2">
                        <a asp-page="Restore" asp-route-id="@Model.Id" class="btn btn-outline-warning">
                            Restore deleted entry
                        </a>
                    </div>
                }
            </div>
        </div>
        <p>
            Deleted by @Html.DisplayFor(_ => report.DeletedBy, DisplayTemplate.NameOrPlaceholder)
            on @Html.DisplayFor(_ => report.DeletedAt, DisplayTemplate.LongDateTimeOffsetNullable)
        </p>
        <h5>Comments</h5>
        <p class="text-break text-pre-line">@Html.DisplayFor(_ => report.DeleteComments, DisplayTemplate.TextOrPlaceholder)</p>
    </div>
}

<div class="row justify-content-between align-items-center mb-2">
    <div class="col-md">
        <h1 class="mb-md-0">Compliance Monitoring: @workEntryName</h1>
    </div>
    @if (!report.IsDeleted)
    {
        <div class="col-md-auto ms-md-3 d-print-none">
            <div class="btn-group">
                @if (Model.UserCan[ComplianceOperation.Close])
                {
                    <a asp-page="Close" asp-route-id="@Model.Id.ToString()" class="btn btn-outline-primary">Close</a>
                }
                @if (Model.UserCan[ComplianceOperation.Reopen])
                {
                    <a asp-page="Reopen" asp-route-id="@Model.Id.ToString()" class="btn btn-outline-primary">Reopen</a>
                }
                @if (Model.UserCan[ComplianceOperation.Edit])
                {
                    <a asp-page="Edit/Index" asp-route-id="@Model.Id.ToString()" class="btn btn-outline-primary">Edit</a>
                }
                @if (report.HasPrintout)
                {
                    <a asp-page="@report.PrintoutPath" asp-route-id="@Model.Id" target="_blank" rel="noopener"
                       class="btn btn-outline-secondary icon-link no-external-link">
                        <svg class="bi">
                            <use href="@Url.Content("~/images/app-icons.svg")#app-icon-printer-fill"></use>
                        </svg>
                        Print
                    </a>
                }
            </div>
        </div>
    }
</div>

<div class="row justify-content-between align-items-center">
    <div class="col-md">
        <div class="lead">Compliance Tracking #@Model.Id.ToString()</div>
    </div>
    @if (Model.UserCan[ComplianceOperation.BeginEnforcement])
    {
        <div class="col-md-auto mt-2 mt-md-0 ms-md-3 d-print-none">
            <a asp-page="/Enforcement/Begin" asp-route-facilityId="@report.FacilityId" asp-route-eventId="@Model.Id.ToString()"
               class="btn btn-sm btn-outline-primary icon-link">
                <svg class="bi">
                    <use href="@Url.Content("~/images/app-icons.svg")#app-icon-plus-lg"></use>
                </svg>
                Enforcement Case
            </a>
        </div>
    }
</div>

<dl class="row mt-3">
    <dt class="col-sm-4 col-lg-3">Facility</dt>
    <dd class="col-sm-8 col-lg-9">
        <partial name="Shared/FacilityPartials/_FacilityAirsNameLink"
                 model="(report.FacilityId, report.FacilityName)" />
    </dd>
    <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => report.ResponsibleStaff)</dt>
    <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => report.ResponsibleStaff, DisplayTemplate.NameOrPlaceholder)</dd>
    <dt class="col-sm-4 col-lg-3">Status</dt>
    <dd class="col-sm-8 col-lg-9">
        @if (report.IsClosed)
        {
            @:Closed by @Html.DisplayFor(_ => report.ClosedBy, DisplayTemplate.NameOrPlaceholder)
            @:on @Html.DisplayFor(_ => report.ClosedDate, DisplayTemplate.ShortDateOnlyNullable)
        }
        else
        {
            @:Open
        }
    </dd>
    <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => report.AcknowledgmentLetterDate)</dt>
    <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => report.AcknowledgmentLetterDate, DisplayTemplate.ShortDateOnlyNullable)</dd>
    @if (Model.CaseFileIds.Any())
    {
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.CaseFileIds)</dt>
        <dd class="col-sm-8 col-lg-9">
            <ul class="mb-0 p-0 ps-1">
                @foreach (var id in Model.CaseFileIds)
                {
                    <li class="float-start me-4 ms-2">
                        <a asp-page="/Enforcement/Details" asp-route-id="@id" class="link-underline link-underline-opacity-25 link-underline-opacity-100-hover link-offset-2">@id</a>
                    </li>
                }
            </ul>
        </dd>
    }
</dl>

<h2>Details</h2>

@switch (report)
{
    case AccViewDto model:
        <partial name="_Partials/_AccDetails" model="model" />
        break;
    case InspectionViewDto model:
        <partial name="_Partials/_InspectionDetails" model="model" />
        break;
    case NotificationViewDto model:
        <partial name="_Partials/_NotificationDetails" model="model" />
        break;
    case PermitRevocationViewDto model:
        <partial name="_Partials/_PermitRevocationDetails" model="model" />
        break;
    case ReportViewDto model:
        <partial name="_Partials/_ReportDetails" model="model" />
        break;
    case SourceTestReviewViewDto model:
        <partial name="_Partials/_SourceTestReviewDetails" model="model" />
        break;
}

<dl>
    <dt class="mb-2">@Html.DisplayNameFor(_ => report.Notes)</dt>
    <dd class="text-break text-pre-line border rounded p-3">@Html.DisplayFor(_ => report.Notes, DisplayTemplate.TextOrPlaceholder)</dd>
</dl>

<partial name="Shared/_CommentsSectionPartial" model="Model.CommentSection" />

@if (Model.UserCan[ComplianceOperation.Delete])
{
    <div class="mt-4 text-end d-print-none">
        <a asp-page="Delete" asp-route-id="@Model.Id.ToString()" class="btn btn-sm btn-link px-0 link-danger link-offset-2">
            Delete Entry
        </a>
    </div>
}

@section Scripts {
    <partial name="Shared/_ValidationScriptsPartial" />
}
