@page "{id:int?}"
@using AirWeb.AppServices.Compliance.Permissions
@using AirWeb.AppServices.Compliance.WorkEntries.Accs
@using AirWeb.AppServices.Compliance.WorkEntries.Inspections
@using AirWeb.AppServices.Compliance.WorkEntries.Notifications
@using AirWeb.AppServices.Compliance.WorkEntries.PermitRevocations
@using AirWeb.AppServices.Compliance.WorkEntries.Reports
@using AirWeb.AppServices.Compliance.WorkEntries.SourceTestReviews
@using AirWeb.WebApp.Pages.Shared.DisplayTemplates
@using GaEpd.AppLibrary.Extensions
@model DetailsModel
@{
    var report = Model.Item!;
    var workEntryType = report.WorkEntryType;
    var workEntryName = workEntryType.GetDescription();
    ViewData["Title"] = $"Facility {report.FacilityId} - {workEntryName} ({Model.Id})";
}

@if (report.IsDeleted)
{
    <div class="callout callout-danger mb-3">
        <div class="container-full">
            <div class="row justify-content-between align-items-center g-0 my-1">
                <div class="col">
                    <h4 class="text-danger-emphasis">This @report.ItemName has been deleted.</h4>
                </div>
                @if (Model.UserCan[ComplianceWorkOperation.Restore])
                {
                    <div class="col-auto d-print-none ms-2">
                        <a asp-page="Restore" asp-route-id="@Model.Id" class="btn btn-outline-warning">
                            Restore deleted entry
                        </a>
                    </div>
                }
            </div>
        </div>
        <p>
            Deleted by @Html.DisplayFor(_ => report.DeletedBy, DisplayTemplate.NameOrPlaceholder)
            on @Html.DisplayFor(_ => report.DeletedAt, DisplayTemplate.LongDateTimeOffsetOrNotEntered)
        </p>
        <h5>Comments</h5>
        <p class="text-break text-pre-line">@Html.DisplayFor(_ => report.DeleteComments, DisplayTemplate.TextOrPlaceholder)</p>
    </div>
}

<div class="row justify-content-between align-items-center">
    <div class="col-md mb-md-0">
        <h1>@workEntryName</h1>
    </div>
    @if (!report.IsDeleted)
    {
        <div class="col-md-auto my-3 my-md-0 ms-md-3 btn-group d-print-none">
            @if (Model.UserCan[ComplianceWorkOperation.Close])
            {
                <a asp-page="Close" asp-route-id="@Model.Id.ToString()" class="btn btn-outline-primary">Close</a>
            }
            @if (Model.UserCan[ComplianceWorkOperation.Reopen])
            {
                <a asp-page="Reopen" asp-route-id="@Model.Id.ToString()" class="btn btn-outline-primary">Reopen</a>
            }
            @if (Model.UserCan[ComplianceWorkOperation.Edit])
            {
                <a asp-page="Edit" asp-route-id="@Model.Id.ToString()" class="btn btn-outline-primary">Edit</a>
            }
            @if (Model.UserCan[ComplianceWorkOperation.Delete])
            {
                <a asp-page="Delete" asp-route-id="@Model.Id.ToString()" class="btn btn-outline-danger">Delete</a>
            }
            @if (report.HasPrintout)
            {
                <a href="@report.PrintoutUrl" target="_blank" rel="noopener" class="btn btn-outline-secondary no-external-link">
                    <svg class="bi me-2">
                        <use href="@Url.Content("~/images/app-icons.svg")#app-icon-printer-fill"></use>
                    </svg>
                    Print
                </a>
            }
        </div>
    }
</div>
<p class="lead mt-2 mt-md-0">Tracking #@Model.Id.ToString()</p>

<dl class="row mt-3">
    <dt class="col-sm-4 col-lg-3">Facility</dt>
    <dd class="col-sm-8 col-lg-9">
        <partial name="Compliance/_Partials/_FacilityAirsNameLink" model="report.Facility" />
    </dd>
    @* TODO: Additional facility information *@

    <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => report.ResponsibleStaff)</dt>
    <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => report.ResponsibleStaff, DisplayTemplate.NameOrPlaceholder)</dd>
    <dt class="col-sm-4 col-lg-3">Status</dt>
    <dd class="col-sm-8 col-lg-9">
        @if (report.IsClosed)
        {
            @:Closed by @Html.DisplayFor(_ => report.ClosedBy, DisplayTemplate.NameOrPlaceholder)
            @:on @Html.DisplayFor(_ => report.ClosedDate, DisplayTemplate.ShortDateOnlyOrNotEntered)
        }
        else
        {
            @:Open
        }
    </dd>
    <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(_ => report.AcknowledgmentLetterDate)</dt>
    <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(_ => report.AcknowledgmentLetterDate, DisplayTemplate.ShortDateOnlyOrNotEntered)</dd>
</dl>

<h2>Details</h2>

@switch (report)
{
    case AccViewDto acc:
        <partial name="_Partials/_AccDetails" model="acc" />
        break;
    case InspectionViewDto inspection:
        <partial name="_Partials/_InspectionDetails" model="inspection" />
        break;
    case NotificationViewDto notification:
        <partial name="_Partials/_NotificationDetails" model="notification" />
        break;
    case PermitRevocationViewDto permitRevocation:
        <partial name="_Partials/_PermitRevocationDetails" model="permitRevocation" />
        break;
    case ReportViewDto rpt:
        <partial name="_Partials/_ReportDetails" model="rpt" />
        break;
    case SourceTestReviewViewDto sourceTestReview:
        <partial name="_Partials/_SourceTestReviewDetails" model="sourceTestReview" />
        break;
}

<dl>
    <dt class="mb-2">@Html.DisplayNameFor(_ => report.Notes)</dt>
    <dd class="text-break text-pre-line border rounded p-3">@Html.DisplayFor(_ => report.Notes, DisplayTemplate.TextOrPlaceholder)</dd>
</dl>

<partial name="Shared/_CommentsSectionPartial" model="Model.CommentSection" />

@section Scripts
{
    <partial name="Shared/_ValidationScriptsPartial" />
}
