@page "{id:int?}"
@using AirWeb.AppServices.Compliance.Permissions
@using AirWeb.AppServices.Compliance.WorkEntries.Accs
@using AirWeb.AppServices.Compliance.WorkEntries.Inspections
@using AirWeb.AppServices.Compliance.WorkEntries.Notifications
@using AirWeb.AppServices.Compliance.WorkEntries.PermitRevocations
@using AirWeb.AppServices.Compliance.WorkEntries.Reports
@using AirWeb.AppServices.Compliance.WorkEntries.SourceTestReviews
@using AirWeb.WebApp.Pages.Shared.DisplayTemplates
@using GaEpd.AppLibrary.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DetailsModel
@{
    var report = Model.Item;
    var workEntryType = report.WorkEntryType;
    var workEntryName = workEntryType.GetDescription();
    ViewData["Title"] = $"Facility {report.FacilityId} - {workEntryName} ({report.Id})";
}

@if (report.IsDeleted && Model.UserCan[ComplianceWorkOperation.ManageDeletions])
{
    <partial name="_DeletedItemPartial" model="report" />
}

<div class="row justify-content-between align-items-center">
    <div class="col-md mb-md-0">
        <h1>@workEntryName</h1>
    </div>
    @if (!report.IsDeleted)
    {
        <div class="col-md-auto ms-md-3 btn-group d-print-none">
            @if (Model.UserCan[ComplianceWorkOperation.Close])
            {
                <a asp-page="Details" asp-page-handler="Close" asp-route-id="@report.Id.ToString()"
                   class="btn btn-outline-primary">
                    Close
                </a>
            }
            @if (Model.UserCan[ComplianceWorkOperation.Reopen])
            {
                <a asp-page="Details" asp-page-handler="Reopen" asp-route-id="@report.Id.ToString()"
                   class="btn btn-outline-primary">
                    Reopen
                </a>
            }
            @if (Model.UserCan[ComplianceWorkOperation.Edit])
            {
                <a asp-page="Edit" asp-route-id="@report.Id.ToString()" class="btn btn-outline-primary">Edit</a>
            }
            @if (Model.UserCan[ComplianceWorkOperation.ManageDeletions])
            {
                <a asp-page="Delete" asp-route-id="@report.Id.ToString()" class="btn btn-outline-danger">Delete</a>
            }
            @if (report.HasPrintout)
            {
                <a href="@report.PrintoutUrl" target="_blank" rel="noopener" class="btn btn-outline-secondary no-external-link">
                    <svg class="bi me-2">
                        <use href="@Url.Content("~/images/app-icons.svg")#app-icon-printer-fill"></use>
                    </svg>
                    Print
                </a>
            }
        </div>
    }
</div>
<p class="lead mt-2 mt-md-0">Tracking #@report.Id.ToString()</p>

<partial name="_FacilityViewDto" model="Model.Item.Facility" />

<dl class="row mt-3 mb-0">
    <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(m => m.Item.ResponsibleStaff)</dt>
    <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(m => m.Item.ResponsibleStaff, DisplayTemplate.NameOrPlaceholder)</dd>
    @if (report.IsClosed)
    {
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => report.ClosedBy)</dt>
        <dd class="col-sm-8 col-lg-9">
            @Html.DisplayFor(model => report.ClosedBy, DisplayTemplate.NameOrPlaceholder)
            on @Html.DisplayFor(model => report.ClosedDate, DisplayTemplate.ShortDateOnlyOrNotEntered)
        </dd>
    }
    <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(m => m.Item.AcknowledgmentLetterDate)</dt>
    <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(m => m.Item.AcknowledgmentLetterDate, DisplayTemplate.ShortDateOnlyOrNotEntered)</dd>
</dl>

<h2>Details</h2>

@switch (report)
{
    case AccViewDto acc:
        <partial name="_AccDetails" model="acc" />
        break;
    case InspectionViewDto inspection:
        <partial name="_InspectionDetails" model="inspection" />
        break;
    case NotificationViewDto notification:
        <partial name="_NotificationDetails" model="notification" />
        break;
    case PermitRevocationViewDto permitRevocation:
        <partial name="_PermitRevocationDetails" model="permitRevocation" />
        break;
    case ReportViewDto rpt:
        <partial name="_ReportDetails" model="rpt" />
        break;
    case SourceTestReviewViewDto sourceTestReview:
        <partial name="_SourceTestReviewDetails" model="sourceTestReview" />
        break;
}

<dl>
    <dt>@Html.DisplayNameFor(_ => report.Notes)</dt>
    <dd class="text-break text-pre-line border rounded p-2">@Html.DisplayFor(_ => report.Notes, DisplayTemplate.TextOrPlaceholder)</dd>
</dl>

<h2 class="h4">Comments</h2>
<partial name="_CommentsSectionPartial" model="(report.Comments, Model.NewCommentId, Model.CommentNotificationFailureMessage, Model.UserCan[ComplianceWorkOperation.Edit])" />
