@page "{handler?}"
@using AirWeb.AppServices.Compliance.Search
@using AirWeb.WebApp.Platform.PageModelHelpers
@using GaEpd.AppLibrary.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using LabelTagHelper = AirWeb.WebApp.Platform.PageModelHelpers.LabelTagHelper
@model ComplianceIndexModel
@{
    ViewData["Title"] = "Compliance Work Entry Search";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="p-3 rounded-3 bg-light-subtle border col-lg-9">
            <div class="text-body-secondary pb-2">
                <em>All fields are optional.</em>
            </div>
            <form method="get" asp-page-handler="Search" asp-fragment="SearchResults">
                <h2 class="h4">Status</h2>
                <div class="row">
                    <div class="col-md mb-3">
                        <div class="form-floating">
                            <select asp-for="Spec.Closed" name="@nameof(Model.Spec.Closed)"
                                    asp-items="Html.GetEnumSelectList<YesNoAny>()" class="form-select">
                                <option value="">@SelectOptions.SelectTextAny</option>
                            </select>
                            <label asp-for="Spec.Closed" class="form-label"></label>
                        </div>
                    </div>
                    @if (Model.UserCanViewDeletedWorkEntries)
                    {
                        <div class="col-md mb-3">
                            <div class="form-floating">
                                <select asp-for="Spec.DeleteStatus" name="@nameof(Model.Spec.DeleteStatus)"
                                        asp-items="Html.GetEnumSelectList<DeleteStatus>()" class="form-select">
                                    <option value="">Not Deleted</option>
                                </select>
                                <label asp-for="Spec.DeleteStatus" class="form-label"></label>
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-md mb-3">
                        <label asp-for="Spec.ClosedDateFrom" class="form-label px-2 mb-0">Date Work Entry Closed</label>
                        <div class="input-group">
                            <div class="form-floating">
                                <input asp-for="Spec.ClosedDateFrom" name="@nameof(Model.Spec.ClosedDateFrom)"
                                       class="form-control" />
                                <label asp-for="Spec.ClosedDateFrom" class="form-label"></label>
                            </div>
                            <div class="form-floating">
                                <input asp-for="Spec.ClosedDateTo" name="@nameof(Model.Spec.ClosedDateTo)"
                                       class="form-control" />
                                <label asp-for="Spec.ClosedDateTo" class="form-label"></label>
                            </div>
                        </div>
                    </div>
                </div>

                <h2 class="h4">Details</h2>
                <div class="row">
                    <div class="col-md mb-3">
                        <div class="form-floating">
                            <input asp-for="Spec.PartialFacilityId" name="@nameof(Model.Spec.PartialFacilityId)"
                                   class="form-control" aria-describedby="FacilityIdHelpBlock" />
                            <label asp-for="Spec.PartialFacilityId" class="form-label"></label>
                        </div>
                        <small id="FacilityIdHelpBlock" class="form-text text-body-secondary d-block px-2">
                            (This can be a complete or partial AIRS number.)
                        </small>
                    </div>
                    <div class="col-md mb-3">
                        <div class="form-floating">
                            <input asp-for="Spec.Notes" name="@nameof(Model.Spec.Notes)" class="form-control"
                                   aria-describedby="NotesHelpBlock" />
                            <label asp-for="Spec.Notes" class="form-label"></label>
                        </div>
                        <small id="NotesHelpBlock" class="form-text text-body-secondary d-block px-2">
                            (A word or phrase to search for within the Notes field.)
                        </small>
                    </div>
                </div>
                <div class="container">
                    <fieldset class="row mb-3 border rounded-3 py-2">
                        <div class="col">
                            <legend class="h5">Work Type</legend>
                            <div class="form-check border-bottom mb-3 pb-3">
                                <input class="form-check-input" type="checkbox" id="Include_All" @(Model.Spec.Include.Any() ? "" : "checked") />
                                <label class="form-check-label" for="Include_All">All</label>
                            </div>
                            <div class="row row-cols-auto" id="Include_Others">
                                <div class="col columns-md-2">
                                    @foreach (var workEntryType in Enum.GetValues(typeof(WorkTypeSearch)).Cast<WorkTypeSearch>().ToList())
                                    {
                                        <div class="form-check">
                                            <input class="form-check-input" name="Spec.Include" type="checkbox" value="@workEntryType"
                                                   id="Include_@workEntryType" checked="@Model.Spec.Include.Contains(workEntryType)" />
                                            <label class="form-check-label" for="Include_@workEntryType">@workEntryType.GetDescription()</label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="row">
                    <div class="col-md mb-3">
                        <label asp-for="Spec.EventDateFrom" class="form-label px-2 mb-0">Date of Work Entry</label>
                        <div class="input-group">
                            <div class="form-floating">
                                <input asp-for="Spec.EventDateFrom" name="@nameof(Model.Spec.EventDateFrom)"
                                       class="form-control" />
                                <label asp-for="Spec.EventDateFrom" class="form-label"></label>
                            </div>
                            <div class="form-floating">
                                <input asp-for="Spec.EventDateTo" name="@nameof(Model.Spec.EventDateTo)"
                                       class="form-control" />
                                <label asp-for="Spec.EventDateTo" class="form-label"></label>
                            </div>
                        </div>
                    </div>
                </div>

                <h2 class="h4">Assignment</h2>
                <div class="row">
                    <div class="col-md mb-3">
                        <div class="form-floating">
                            <select asp-for="Spec.Office" name="@nameof(Model.Spec.Office)"
                                    asp-items="Model.OfficesSelectList" class="form-select">
                                <option value="">@SelectOptions.SelectTextAny</option>
                            </select>
                            <label asp-for="Spec.Office" class="form-label"></label>
                        </div>
                    </div>
                    <div class="col-md mb-3">
                        <div class="form-floating">
                            <select asp-for="Spec.ResponsibleStaff" name="@nameof(Model.Spec.ResponsibleStaff)"
                                    asp-items="Model.StaffSelectList" class="form-select">
                                <option value="">@SelectOptions.SelectTextAny</option>
                            </select>
                            <label asp-for="Spec.ResponsibleStaff" class="form-label"></label>
                        </div>
                    </div>
                </div>

                <div class="mt-3 mb-1">
                    <button id="SearchButton" type="submit" class="btn btn-lg btn-primary col-4 me-2">Search</button>
                    <a asp-page="Index" class="btn btn-lg btn-outline-secondary col-4 col-md-3">Clear Form</a>
                </div>
            </form>
        </div>
    </div>
</div>

@if (Model.ShowResults)
{
    <div id="SearchResults" class="mt-4">
        <div class="container-full">
            <div class="row col-lg-9 justify-content-between align-items-start g-0 my-1">
                <div class="col">
                    <h3>Search Results</h3>
                </div>
                @if (Model.SearchResults.TotalCount > 0)
                {
                    <div class="col-auto d-print-none ms-2">
                        <a asp-page="DownloadSearch" asp-all-route-data="Model.Spec.AsRouteValues()"
                           class="btn btn-sm btn-outline-secondary">
                            💾 Download search results
                        </a>
                    </div>
                }
            </div>
        </div>

        @if (Model.SearchResults.TotalCount == 0)
        {
            <p class="lead text-info">No matching results found.</p>
        }
        else
        {
            <partial name="Shared/_WorkEntrySearchResultPartial" model="Model.ResultsDisplay" />
        }
    </div>
}

@section Scripts {
    <script src="~/js/formSearch.js"></script>
    <script src="js/handleCheckboxAll.js"></script>
}
