@page "{id:int?}"
@using AirWeb.WebApp.Pages.Shared.DisplayTemplates
@model RestoreModel

@{
    ViewData["Title"] = $"Restore {Model.ItemSummary.ItemName} #{Model.Id}";
    ViewData["NoAnchors"] = "True";
}

<h1>
    <em>Confirm:</em> @ViewData["Title"]
</h1>

<div class="p-3 border rounded-3 bg-secondary-subtle text-dark-emphasis">
    <p class="lead text-warning-emphasis font-weight-medium">Are you sure you want to restore this deleted FCE?</p>

    <dl class="row">
        <dt class="col-sm-4 col-lg-3">Facility</dt>
        <dd class="col-sm-8 col-lg-9">
            <span class="text-body-secondary">@Model.ItemSummary.FacilityId –</span> @Model.ItemSummary.FacilityName
        </dd>
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(m => m.ItemSummary.ResponsibleStaff)</dt>
        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(m => m.ItemSummary.ResponsibleStaff, DisplayTemplate.NameOrPlaceholder)</dd>
    </dl>
    <div class="callout callout-warning">
        <p>
            <em class="text-warning-emphasis">
                If this work entry is restored, the following deletion details will be removed.
            </em>
        </p>
        <dl class="row">
            <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(m => m.ItemSummary.DeletedBy)</dt>
            <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(m => m.ItemSummary.DeletedBy, DisplayTemplate.NameOrPlaceholder)</dd>
            <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(m => m.ItemSummary.DeletedAt)</dt>
            <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(m => m.ItemSummary.DeletedAt, DisplayTemplate.ShortDateTimeOffset)</dd>
            <dt class="mb-2">@Html.DisplayNameFor(m => m.ItemSummary.DeleteComments)</dt>
            <dd class="border border-warning-subtle rounded-1 py-3">@Html.DisplayFor(m => m.ItemSummary.DeleteComments, DisplayTemplate.TextWithLinebreaks)</dd>
        </dl>
    </div>

    <form method="post">
        <div class="mt-2">
            <button type="submit" class="btn btn-warning me-2">Restore</button>
            <a asp-page="Details" asp-route-id="@Model.Id.ToString()" class="btn btn-outline-secondary">Cancel</a>
        </div>
    </form>
</div>
