@page "{facilityId?}"
@using AirWeb.WebApp.Pages.Shared.EditorTemplates
@using AirWeb.WebApp.Platform.PageModelHelpers
@using GaEpd.AppLibrary.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using LabelTagHelper = Microsoft.AspNetCore.Mvc.TagHelpers.LabelTagHelper
@model AddModel
@{
    ViewData["Title"] = $"Add a new {Model.EntryType.GetDescription()}";
    ViewData["NoAnchors"] = "True";
}

<h1>@ViewData["Title"]</h1>
<p class="lead">For Facility: <partial name="Compliance/_Partials/_FacilityAirsName" model="Model.Facility" /></p>

<div class="p-3 border border-primary-subtle rounded-3 bg-light-subtle">
    <form method="post">
        <div asp-validation-summary="All" class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi me-2" role="img" aria-label="Danger:">
                <use href="@Url.Content("~/images/app-icons.svg")#app-icon-exclamation-triangle-fill"></use>
            </svg>
        </div>

        <div class="row">
            <div class="col-md mb-3">
                @Html.EditorFor(m => m.Item.ReceivedDate, EditorTemplate.InputDateOnly)
            </div>
            <div class="col-md mb-3">
                @Html.EditorFor(m => m.Item.ResponsibleStaffId, EditorTemplate.Select,
                    additionalViewData: new { Items = Model.StaffSelectList, Placeholder = DefaultText.SelectOptionRequired })
            </div>
        </div>

        <div class="mb-3">
            @Html.EditorFor(m => m.Item.NotificationTypeId, EditorTemplate.Select,
                additionalViewData: new { Items = Model.NotificationTypeSelectList, Placeholder = DefaultText.SelectOptionRequired })
        </div>

        <div class="row">
            <div class="col-md mb-3">
                @Html.EditorFor(m => m.Item.DueDate, EditorTemplate.InputDateOnlyNullable)
            </div>
            <div class="col-md mb-3">
                @Html.EditorFor(m => m.Item.SentDate, EditorTemplate.InputDateOnlyNullable)
            </div>
        </div>

        <div class="row">
            <div class="mb-3">
                @Html.EditorFor(m => m.Item.Notes, EditorTemplate.Textarea, new { Rows = 5 })
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                @Html.EditorFor(m => m.Item.AcknowledgmentLetterDate, EditorTemplate.InputDateOnlyNullable)
            </div>
            <div class="col-md mb-3">
                <input asp-for="Item.FollowupTaken" class="form-check-input" aria-describedby="FollowupTakenHelpText" />
                <label asp-for="Item.FollowupTaken" class="form-check-label"></label>
                <small id="FollowupTakenHelpText" class="form-text text-body-secondary d-inline-block px-2">
                    (Note: A notification cannot be the discovery event for an enforcement action.)
                </small>
            </div>
        </div>

        <partial name="Compliance/Work/_Partials/_AddCancelButtons" />
        <input asp-for="Item.FacilityId" type="hidden" />
    </form>
</div>

@section Scripts
{
    <partial name="Shared/_ValidationScriptsPartial" />
}
