@using AirWeb.AppServices.CommonSearch
@using AirWeb.AppServices.Enforcement.Search
@using AirWeb.WebApp.Pages.Shared.DisplayTemplates
@model IList<AirWeb.AppServices.Enforcement.Search.CaseFileSearchResultDto>
@{
    var searchSpec = (ISearchDto?)ViewData["SearchSpec"];
    var hideStaff = (bool?)ViewData["HideStaff"] ?? false;
    var hideFacility = (bool?)ViewData["HideFacility"] ?? false;
    var rowCss = searchSpec is null ? "" : "align-middle";
    var linkCss = searchSpec is null ? "fw-normal link-offset-1" : "btn btn-sm btn-outline-primary";
}

<div class="table-responsive-md">
    <table class="table table-hover mb-0" aria-label="Case File results table">
        <thead>
        <tr>
            @if (searchSpec is null)
            {
                <th scope="col" class="text-nowrap">Tracking #</th>
                <th scope="col" class="text-nowrap">Discovery Date</th>
                @if (!hideFacility)
                {
                    <th scope="col" class="text-nowrap">Facility</th>
                }

                <th scope="col" class="text-nowrap">Case File Status</th>
            }
            else
            {
                <partial name="Shared/_SortableTableColHead" model="searchSpec" view-data="new ViewDataDictionary(ViewData)"
                         view-data-Heading="@("Tracking #")" view-data-Ascender="@nameof(CaseFileSortBy.IdAsc)" view-data-Descender="@nameof(CaseFileSortBy.IdDesc)" />
                <partial name="Shared/_SortableTableColHead" model="searchSpec" view-data="new ViewDataDictionary(ViewData)"
                         view-data-Heading="@("Discovery Date")" view-data-Ascender="@nameof(CaseFileSortBy.DiscoveryDateAsc)" view-data-Descender="@nameof(CaseFileSortBy.DiscoveryDateDesc)" />
                @if (!hideFacility)
                {
                    <partial name="Shared/_SortableTableColHead" model="searchSpec" view-data="new ViewDataDictionary(ViewData)"
                             view-data-Heading="@("Facility")" view-data-Ascender="@nameof(CaseFileSortBy.FacilityIdAsc)" view-data-Descender="@nameof(CaseFileSortBy.FacilityIdDesc)" />
                }

                <partial name="Shared/_SortableTableColHead" model="searchSpec" view-data="new ViewDataDictionary(ViewData)"
                         view-data-Heading="@("Case File Status")" view-data-Ascender="@nameof(CaseFileSortBy.CaseFileStatusAsc)" view-data-Descender="@nameof(CaseFileSortBy.CaseFileStatusDesc)" />
            }
            <th scope="col" class="text-nowrap">Day Zero</th>
            @if (!hideStaff)
            {
                <th scope="col" class="text-nowrap">Responsible Staff</th>
            }
        </tr>
        </thead>

        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row" class="@rowCss">
                    <a asp-page="/Enforcement/Details" asp-route-id="@item.Id.ToString()"
                       class="@linkCss">
                        @item.Id.ToString()
                    </a>
                    @if (item.IsDeleted)
                    {
                        <span class="text-danger-emphasis">DELETED</span>
                    }
                </th>
                <td>
                    <span class="text-nowrap">@Html.DisplayFor(_ => item.DiscoveryDate, DisplayTemplate.ShortDateOnlyNullable)</span>
                </td>
                @if (!hideFacility)
                {
                    <td><span class="text-nowrap">@item.FacilityId</span><br />@item.FacilityName</td>
                }
                <td>@item.CaseFileStatus.GetDisplayName()</td>
                <td>
                    <span class="text-nowrap">@Html.DisplayFor(_ => item.DayZero, DisplayTemplate.ShortDateOnlyNullable, new { Placeholder = DefaultText.NotAvailable })</span>
                </td>
                @if (!hideStaff)
                {
                    <td>@Html.DisplayFor(_ => item.ResponsibleStaff, DisplayTemplate.NameOrPlaceholder)</td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>
