@using AirWeb.AppServices.Enforcement.Search
@using AirWeb.WebApp.Models
@using AirWeb.WebApp.Pages.Shared.DisplayTemplates
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model (IList<AirWeb.AppServices.Enforcement.Search.EnforcementSearchResultDto> Items, AirWeb.AppServices.Enforcement.Search.EnforcementSearchDto? Spec)

<div class="table-responsive-md mb-3">
	<table class="table table-hover mb-0" aria-label="Compliance Work Entry results table">
		<thead>
			<tr>
				@if (Model.Spec is null)
				{
					<th scope="col" class="text-nowrap">Tracking #</th>
					<th scope="col" class="text-nowrap">Discovery Date</th>
					<th scope="col" class="text-nowrap">Day Zero</th>
					<th scope="col" class="text-nowrap">Case File Status</th>
					<th scope="col" class="text-nowrap">Responsible Staff</th>

				}
				@* else
				{
					<partial name="Shared/_SortableTableColHead"
							 model='new SearchResultsColumnDisplay("Tracking #", SortBy.IdAsc, SortBy.IdDesc, Model.Spec)' />
					<partial name="Shared/_SortableTableColHead"
							 model='new SearchResultsColumnDisplay("Work Type", SortBy.WorkTypeAsc, SortBy.WorkTypeDesc, Model.Spec)' />
					<partial name="Shared/_SortableTableColHead"
							 model='new SearchResultsColumnDisplay("Facility", SortBy.FacilityIdAsc, SortBy.FacilityIdDesc, Model.Spec)' />
					<partial name="Shared/_SortableTableColHead"
							 model='new SearchResultsColumnDisplay("Event Date", SortBy.EventDateAsc, SortBy.EventDateDesc, Model.Spec)' />
				} *@
			</tr>
		</thead>

		<tbody>
			@foreach (var item in Model.Items)
			{
				<tr>
					<th scope="row" class="align-middle">
						@{
							var status = item.CaseFileStatus.GetDescription() switch
							{
								"Closed" => "btn-outline-danger", "Open" => "btn-outline-primary", _ => "btn-outline-warning"
							};
						}
						<a asp-page="/Enforcement/Details" asp-route-id="@item.Id.ToString()"
							class="btn btn-sm @status">
							@item.Id.ToString()
						</a>
					</th>
					<td>
						<span class="text-nowrap">@Html.DisplayFor(_ => item.DayZero, DisplayTemplate.ShortDateOnly)</span><br />
					</td>
					<td>
						<span class="text-nowrap">@Html.DisplayFor(_ => item.DiscoveryDate, DisplayTemplate.ShortDateOnly)</span><br />
					</td>
					<td>@item.CaseFileStatus.GetDescription()</td>
					<td>@Html.DisplayFor(_ => item.ResponsibleStaff, DisplayTemplate.NameOrPlaceholder)</td>

				</tr>
			}
		</tbody>
	</table>
</div>
