@using AirWeb.AppServices.Compliance.Search
@using AirWeb.WebApp.Models
@using AirWeb.WebApp.Pages.Shared.DisplayTemplates
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model (IList<AirWeb.AppServices.Compliance.Search.FceSearchResultDto> Items, AirWeb.AppServices.Compliance.Search.FceSearchDto? Spec)

<div class="table-responsive-md mb-3">
    <table class="table table-hover mb-0" aria-label="FCE results table">
        <thead>
        <tr>
            @if (Model.Spec is null)
            {
                <th scope="col" class="text-nowrap">ID</th>
                <th scope="col" class="text-nowrap">FCE Year</th>
            }
            else
            {
                <partial name="Shared/_SortableTableColHead"
                         model='new SearchResultsColumnDisplay("ID", SortBy.IdAsc, SortBy.IdDesc, Model.Spec)' />
                <partial name="Shared/_SortableTableColHead"
                         model='new SearchResultsColumnDisplay("FCE Year", SortBy.YearAsc, SortBy.YearDesc, Model.Spec)' />
                <partial name="Shared/_SortableTableColHead"
                         model='new SearchResultsColumnDisplay("Facility", SortBy.FacilityIdAsc, SortBy.FacilityIdDesc, Model.Spec)' />
            }
            <th scope="col" class="text-nowrap">FCE Date</th>
            <th scope="col" class="text-nowrap">Staff</th>
            <th scope="col" class="text-nowrap">Onsite Inspection</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <th scope="row">
                    <a asp-page="/Compliance/FCE/Details" asp-route-id="@item.Id.ToString()"
                       class="btn btn-sm @(item.IsDeleted ? "btn-outline-danger" : "btn-outline-primary")">
                        @item.Id.ToString()
                    </a>
                    @if (item.IsDeleted)
                    {
                        <span class="text-danger-emphasis">DELETED</span>
                    }
                </th>
                <td class="text-nowrap">@item.Year</td>
                @if (Model.Spec is not null)
                {
                    <td>
                        <span class="text-nowrap">@item.FacilityId</span><br />@item.FacilityName
                    </td>
                }
                <td class="text-nowrap">@Html.DisplayFor(_ => item.CompletedDate, DisplayTemplate.ShortDateOnly) </td>
                <td>@Html.DisplayFor(_ => item.ReviewedBy, DisplayTemplate.NameOrPlaceholder)</td>
                <td>@Html.DisplayFor(_ => item.OnsiteInspection, DisplayTemplate.BoolYesNo)</td>
            </tr>
        }
        </tbody>
    </table>
</div>
