@using AirWeb.WebApp.Pages.Shared.DisplayTemplates
@model IList<IaipDataService.SourceTests.Models.SourceTestSummary>

<div class="table-responsive-md mb-3">
    <table class="table table-hover mb-0" aria-label="Source Tests for this facility">
        <thead>
        <tr>
            <th scope="col">Reference Number</th>
            <th scope="col">Report Type</th>
            <th scope="col">Source Tested</th>
            <th scope="col">Pollutant</th>
            <th scope="col">Test Dates</th>
            <th scope="col">Open/Closed</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var summary in Model)
        {
            <tr>
                <th scope="row" class="align-middle">
                    <a asp-page="/Compliance/SourceTest/Index"
                       asp-route-referenceNumber="@summary.ReferenceNumber"
                       class="btn btn-sm btn-outline-primary">
                        @summary.ReferenceNumber.ToString()
                    </a>
                </th>
                <td>@summary.TestType</td>
                <td>@summary.Source</td>
                <td>@summary.Pollutant</td>
                <td>@Html.DisplayFor(_ => summary.TestDates, DisplayTemplate.IaipDateRange, new { Connector = " – " })</td>
                <td>@Html.DisplayFor(_ => summary.ReportClosed, DisplayTemplate.BoolClosed)</td>
            </tr>
        }
        </tbody>
    </table>
</div>
