@using AirWeb.AppServices.Compliance.Search
@using AirWeb.WebApp.Models
@using AirWeb.WebApp.Pages.Shared.DisplayTemplates
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model (IList<AirWeb.AppServices.Compliance.WorkEntries.Search.WorkEntrySearchResultDto> Items, AirWeb.AppServices.Compliance.WorkEntries.Search.WorkEntrySearchDto? Spec)
@{
    var rowCss = Model.Spec is null ? "" : "align-middle";
    var linkCss = Model.Spec is null ? "fw-normal link-offset-1" : "btn btn-sm btn-outline-primary";
}

<div class="table-responsive-md mb-3">
    <table class="table table-hover mb-0" aria-label="Compliance Work Entry results table">
        <thead>
        <tr>
            @if (Model.Spec is null)
            {
                <th scope="col" class="text-nowrap">Tracking #</th>
                <th scope="col" class="text-nowrap">Work Type</th>
                <th scope="col" class="text-nowrap">Event Date</th>
            }
            else
            {
                <partial name="Shared/_SortableTableColHead"
                         model='new SearchResultsColumnDisplay("Tracking #", SortBy.IdAsc, SortBy.IdDesc, Model.Spec)' />
                <partial name="Shared/_SortableTableColHead"
                         model='new SearchResultsColumnDisplay("Work Type", SortBy.WorkTypeAsc, SortBy.WorkTypeDesc, Model.Spec)' />
                <partial name="Shared/_SortableTableColHead"
                         model='new SearchResultsColumnDisplay("Facility", SortBy.FacilityIdAsc, SortBy.FacilityIdDesc, Model.Spec)' />
                <partial name="Shared/_SortableTableColHead"
                         model='new SearchResultsColumnDisplay("Event Date", SortBy.EventDateAsc, SortBy.EventDateDesc, Model.Spec)' />
            }
            <th scope="col" class="text-nowrap">Staff</th>
            <th scope="col" class="text-nowrap">Status</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <th scope="row" class="@rowCss">
                    <a asp-page="/Compliance/Work/Details" asp-route-id="@item.Id.ToString()"
                       class="@(item.IsDeleted ? "btn btn-sm btn-outline-danger" : linkCss)">
                        @item.Id.ToString()
                    </a>
                    @if (item.IsDeleted)
                    {
                        <span class="text-danger-emphasis">DELETED</span>
                    }
                </th>
                <td class="text-nowrap">@item.WorkEntryType.GetDescription()</td>
                @if (Model.Spec is not null)
                {
                    <td>
                        <span class="text-nowrap">@item.FacilityId</span><br />@item.FacilityName
                    </td>
                }
                <td>
                    <span class="text-nowrap">@Html.DisplayFor(_ => item.EventDate, DisplayTemplate.ShortDateOnly)</span><br />
                    @item.EventDateName
                </td>
                <td>@Html.DisplayFor(_ => item.ResponsibleStaff, DisplayTemplate.NameOrPlaceholder)</td>
                <td class="text-nowrap">
                    @Html.DisplayFor(_ => item.IsClosed, DisplayTemplate.BoolClosed)
                    @if (item.IsClosed)
                    {
                        <br />
                        @Html.DisplayFor(_ => item.ClosedDate, DisplayTemplate.ShortDateOnly)
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
