@using AirWeb.WebApp.Models
@model ICollection<AirWeb.WebApp.Models.DisplayMessage>?
@if (Model != null)
{
    foreach (var message in Model)
    {
        <div class="alert @message.AlertClass alert-dismissible fade show d-flex align-items-center" role="alert">
            @switch (message.Context)
            {
                case DisplayMessage.AlertContext.Success:
                    <partial name="Shared/_AppIconsPartial" model="@AppIcon.CheckIcon" />
                    break;

                case DisplayMessage.AlertContext.Info:
                    <partial name="Shared/_AppIconsPartial" model="@AppIcon.InfoIcon" />
                    break;

                case DisplayMessage.AlertContext.Danger:
                case DisplayMessage.AlertContext.Warning:
                    <partial name="Shared/_AppIconsPartial" model="@AppIcon.WarningIcon" />
                    break;
            }

            <div class="ms-3">
                @message.Message
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    }
}
