@using AirWeb.WebApp.Pages.Shared.DisplayTemplates
@model AirWeb.AppServices.CommonInterfaces.IDeletedItem

<div class="callout callout-danger mb-3">
    <div class="container-full">
        <div class="row justify-content-between align-items-center g-0 my-1">
            <div class="col">
                <h4 class="text-danger-emphasis">This @Model.ItemName has been deleted.</h4>
            </div>
            <div class="col-auto d-print-none ms-2">
                <a asp-page="Restore" asp-route-id="@Model.ItemId" class="btn btn-outline-warning">
                    Restore deleted
                    entry
                </a>
            </div>
        </div>
    </div>
    <p>
        Deleted by @Html.DisplayFor(m => m.DeletedBy, DisplayTemplate.NameOrPlaceholder)
        on @Html.DisplayFor(m => m.DeletedAt, DisplayTemplate.LongDateTimeOffsetOrNotEntered)
    </p>
    <h5>Comments</h5>
    <p class="text-break text-pre-line">@Html.DisplayFor(m => m.DeleteComments, DisplayTemplate.TextOrPlaceholder)</p>
</div>
