@using AirWeb.AppServices.Compliance.Search
@using AirWeb.WebApp.Pages.Shared.DisplayTemplates
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AirWeb.WebApp.Models.SearchResultsDisplay

<partial name="_PaginationNavAndCount" model="Model" />
<div class="table-responsive-md mb-3">
    <table class="table table-hover" aria-label="Facility search results">
        <thead>
        <tr>
            <th scope="col" class="text-nowrap">
                <a asp-fragment="SearchResults" asp-all-route-data="Model.Spec.AsRouteValues()" asp-route-handler="search"
                   asp-route-Sort="@(Model.Spec.Sort == SortBy.IdAsc ? nameof(SortBy.IdDesc) : nameof(SortBy.IdAsc))"
                   class="link-offset-2">
                    ID @Html.DisplayFor(model => model.SortByName, DisplayTemplate.SortArrow,
                           new { up = nameof(SortBy.IdAsc), down = nameof(SortBy.IdDesc) })
                </a>
            </th>
            <th scope="col" class="text-nowrap">
                <a asp-fragment="SearchResults" asp-all-route-data="Model.Spec.AsRouteValues()" asp-route-handler="search"
                   asp-route-Sort="@(Model.Spec.Sort == SortBy.EventDateAsc ? nameof(SortBy.EventDateDesc) : nameof(SortBy.EventDateAsc))"
                   class="link-offset-2">
                    Date Received @Html.DisplayFor(model => model.SortByName, DisplayTemplate.SortArrow,
                                      new { up = nameof(SortBy.EventDateAsc), down = nameof(SortBy.EventDateDesc) })
                </a>
            </th>
        </tr>
        </thead>
        
        <tbody>
        @foreach (var item in Model.SearchResults.Items)
        {
            <tr class="@(item.IsDeleted ? "table-danger" : "")">
                <th scope="row">
                    <a asp-page="Details" asp-route-id="@item.Id.ToString()" class="btn btn-outline-primary btn-sm">@item.Id.ToString()</a>
                </th>
                <td class="text-nowrap">@Html.DisplayFor(_ => item.EventDate, DisplayTemplate.ShortDate)</td>
            </tr>
        }
        </tbody>
    </table>
</div>
<partial name="_PaginationNav" model="Model" />
