@using AirWeb.WebApp.Pages.Shared.DisplayTemplates
@model AirWeb.AppServices.DomainEntities.WorkEntries.BaseWorkEntryDto.BaseWorkEntryViewDto

<div class="container small">
    <dl class="row">
        <dt class="col-md-4 col-lg-3">@Html.DisplayNameFor(dto => dto.WorkEntryType)</dt>
        <dd class="col-md-8 col-lg-9">@Html.DisplayFor(dto => dto.WorkEntryType)</dd>
        <dt class="col-md-4 col-lg-3">@Html.DisplayNameFor(dto => dto.ComplianceEventType)</dt>
        <dd class="col-md-8 col-lg-9">@Html.DisplayFor(dto => dto.ComplianceEventType)</dd>
        <dt class="col-md-4 col-lg-3">@Html.DisplayNameFor(dto => dto.ClosedDate)</dt>
        <dd class="col-md-8 col-lg-9">@Html.DisplayFor(dto => dto.ClosedDate, DisplayTemplate.LongDate)</dd>
        <dt class="col-md-4 col-lg-3">@Html.DisplayNameFor(dto => dto.Notes)</dt>
        <dd class="col-md-8 col-lg-9">@Html.DisplayFor(dto => dto.Notes, DisplayTemplate.TruncateText)</dd>
    </dl>
</div>
