@page "{facilityId?}"
@using AirWeb.Domain.ComplianceEntities.WorkEntries
@using AirWeb.WebApp.Pages.Shared.EditorTemplates
@using AirWeb.WebApp.Platform.PageModelHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AddModel
@{
    ViewData["Title"] = $"Add a new {Model.EntryType.GetDescription()}";
    ViewData["NoAnchors"] = "True";
}

<h1>@ViewData["Title"]</h1>
<p class="lead">
    For Facility:
    <partial name="Shared/FacilityPartials/_FacilityAirsName" model="Model.Facility" />
</p>

<div class="p-3 border border-primary-subtle rounded-3 bg-light-subtle">
    <form method="post">
        <div asp-validation-summary="All" class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi me-2" role="img" aria-label="Danger:">
                <use href="@Url.Content("~/images/app-icons.svg")#app-icon-exclamation-triangle-fill"></use>
            </svg>
        </div>
        <div class="row">
            <div class="col-md mb-3">
                @Html.EditorFor(m => m.Item.ReceivedDate, EditorTemplate.InputDateOnly)
            </div>
            <div class="col-md mb-3">
                @Html.EditorFor(m => m.Item.ResponsibleStaffId, EditorTemplate.Select,
                    additionalViewData: new { Items = Model.StaffSelectList, Placeholder = DefaultText.SelectOptionRequired })
            </div>
        </div>

        <div class="row">
            <div class="col-md mb-3">
                @Html.EditorFor(m => m.Item.AccReportingYear, EditorTemplate.InputNumber,
                    additionalViewData: new { Min = WorkEntry.EarliestWorkEntryYear, Max = DateTime.Now.Year })
            </div>
            <div class="col-md mb-3">
                @Html.EditorFor(m => m.Item.PostmarkDate, EditorTemplate.InputDateOnly)
            </div>
        </div>

        <div class="container">
            <fieldset class="row mb-3 border rounded-3 py-2">
                <div class="col">
                    <legend class="h6">ACC Analysis</legend>
                    <div class="row row-cols-auto">
                        <div class="col columns-md-2">
                            <div class="mb-3">
                                @Html.EditorFor(m => m.Item.PostmarkedOnTime, EditorTemplate.Checkbox)
                            </div>
                            <div class="mb-3">
                                @Html.EditorFor(m => m.Item.SignedByRo, EditorTemplate.Checkbox)
                            </div>
                            <div class="mb-3">
                                @Html.EditorFor(m => m.Item.OnCorrectForms, EditorTemplate.Checkbox)
                            </div>
                            <div class="mb-3">
                                @Html.EditorFor(m => m.Item.IncludesAllTvConditions, EditorTemplate.Checkbox)
                            </div>
                            <div class="mb-3">
                                @Html.EditorFor(m => m.Item.CorrectlyCompleted, EditorTemplate.Checkbox)
                            </div>
                            <div class="mb-3">
                                @Html.EditorFor(m => m.Item.ReportsDeviations, EditorTemplate.Checkbox)
                            </div>
                            <div class="mb-3">
                                @Html.EditorFor(m => m.Item.IncludesPreviouslyUnreportedDeviations, EditorTemplate.Checkbox)
                            </div>
                            <div class="mb-3">
                                @Html.EditorFor(m => m.Item.ReportsAllKnownDeviations, EditorTemplate.Checkbox)
                            </div>
                            <div class="mb-3">
                                @Html.EditorFor(m => m.Item.ResubmittalRequired, EditorTemplate.Checkbox)
                            </div>
                            <div class="mb-1">
                                @Html.EditorFor(m => m.Item.EnforcementNeeded, EditorTemplate.Checkbox)
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="row">
            <div class="mb-3">
                @Html.EditorFor(m => m.Item.Notes, EditorTemplate.Textarea, new { Rows = 5 })
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                @Html.EditorFor(m => m.Item.AcknowledgmentLetterDate, EditorTemplate.InputDateOnlyNullable)
            </div>
        </div>

        <partial name="Compliance/Work/_Partials/_AddCancelButtons" />
        <input asp-for="Item.FacilityId" type="hidden" />
    </form>
</div>

@section Scripts {
    <partial name="Shared/_ValidationScriptsPartial" />
}
